/*------------------------------------*\
   $Buttons
\*------------------------------------*/

.coop-btn,
input[type='submit'] {
  @include single-transition(all, 0.15s, linear);
  display: inline-block;
  border: 0;
  border-radius: 5px; 
  padding: $quarter-spacing-unit $half-spacing-unit*1.25;
  text-align: center;
  font-size: emCalc(18px);
  line-height: 1.5;
  color: $coop-link-blue;
  background-color: $offwhite;
  box-shadow: 0 4px darken($offwhite, 8%);

  &:hover, &:focus {
    border: 0;
    color: darken($coop-blue, 20%);
    background-color: darken($offwhite, 5%);
  }

  &:after {
    transition: color 0s;
  }

  &:disabled, &.coop-btn-disabled, &:hover:disabled {
    background-color: rgba($offwhite, 0.9);

    &:hover {
      background-color: rgba($offwhite, 0.9);
    }
  }

  &.coop-btn-full {
    width: 100%;
  }

  &.coop-btn-primary {
    color: $white;
    background-color: $button-green;
    box-shadow: 0 4px darken($button-green, 6%);

    &:hover, &:focus {
      background-color: $button-green-highlighted;
    }

    &:disabled, &.coop-btn-disabled {
      background-color: rgba($button-green, 0.9);

      &:hover {
        background-color: rgba($button-green, 0.9);
      }
    }
  }

  &.coop-btn-secondary {
    color: $white;
    background: $coop-blue;  
    box-shadow: 0 4px darken($coop-blue, 6%);

    &:hover, &:focus {
      background-color: lighten($coop-blue, 10%);
    }

    &:disabled, &.coop-btn-disabled {
      background-color: rgba($coop-blue, 0.9);

      &:hover {
        background-color: rgba($coop-blue, 0.9);
      }

    }
  }

  &.coop-btn-proceed {
    position: relative;

    &:after {
      // IE issue with icon fonts - be specific...
      @extend %icon;
      font-size: emCalc(16px);
      @include single-transition(all, 0.15s, linear);
      position: absolute;
      content: '\e608';
      right: 14px;
      top: 20px;
    }

    &:hover:after {
      right: 11px;
    }

  }

  &.coop-btn-back {
    position: relative;

    &:before {
      // IE issue with icon fonts - be specific...
      @extend %icon;
      font-size: emCalc(16px);
      @include single-transition(all, 0.15s, linear);
      position: absolute;
      content: '\e609';
      left: 14px;
      top: 22px;
    }

    &:hover:before {
      left: 11px;
    }

  }

  &:disabled, &.coop-btn-disabled {
    opacity: .8;

    &:hover {
      cursor: not-allowed;
      background: inherit;
    }

  }

  &.loading:after {
    content: '';
    -moz-animation: three-quarters-loader 1250ms infinite linear;
    -webkit-animation: three-quarters-loader 1250ms infinite linear;
    animation: three-quarters-loader 1250ms infinite linear;
    border: 3px solid $white;
    border-right-color: transparent;
    border-radius: 16px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    top: 4px;
    right: -4px;
  }

  &.coop-btn-tiny {
    padding: $quarter-spacing-unit / 3 $quarter-spacing-unit;

    &.coop-btn-proceed {
      padding-right: $quarter-spacing-unit * 2;

      &:after {
        // Classic IE issue with icon fonts - be specific...

        @include single-transition(all, 0.15s, linear);
        font-size: 0.9em;
        top: 7px;
        right: 6px;
      }
    }

    &:hover:after {
      right: 10px;
    }
  }

  &.coop-btn-small {
    padding: $quarter-spacing-unit / 3;
    font-size: .875em;

    &.coop-btn-proceed {
      padding-right: $quarter-spacing-unit * 3;

      &:after {
        // Classic IE issue with icon fonts - be specific...
        @include single-transition(all, 0.15s, linear);
        font-size: 1em;
        top: 5px;
        right: 14px;
      }
    }

    &:hover:after {
      right: 10px;
    }
  }

  &.coop-btn-medium {
    padding: $quarter-spacing-unit / 2 $quarter-spacing-unit;

    &.coop-btn-proceed {
      padding-right: $half-spacing-unit * 1.5;

      &:after {
        // Classic IE issue with icon fonts - be specific...
        @include single-transition(all, 0.15s, linear);
        font-size: 1em;
        top: 7px;
        right: 14px;
      }
    }

    &:hover:after {
      right: 10px;
    }
  }

  &.coop-btn-large {
    padding: $quarter-spacing-unit $half-spacing-unit;

    &.coop-btn-proceed {
      padding-right: $half-spacing-unit * 2;

      &:after {
        // Classic IE issue with icon fonts - be specific...
        @include single-transition(all, 0.15s, linear);
        font-size: 1em;
        top: 15px;
        right: 23px;
      }
    }

    &:hover:after {
      right: 10px;
    }
  }
}

.btn-deactivated-alt-test {
  background-color: $offwhite;
  color: darken($coop-blue, 20%);
  cursor: not-allowed;

  &:hover, &:focus {
    background-color: $offwhite;
  }

  &:after {
    transition: color 0s;
  }
}

.btn-loading {
  position: relative;
  padding-right: $half-spacing-unit * 1.5;

  &:after {
    // Classic IE issue with icon fonts - be specific...
    @extend %btn-icon;
    @include single-transition(all, 0.15s, linear);
    position: absolute;
    content: '\e608';
    right: 18px;
    top: 35%;
  }

  &:hover:after {
    right: 10px;
  }

  &:focus:after {
    color: $saleerror-red;
  }
}

// Loading

@-moz-keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Pill style button (could be used for tags etc)
.coop-pill {
  display: inline-block;
  padding: $quarter-spacing-unit / 2 $quarter-spacing-unit;
  line-height: 1.5;
  border-radius: $half-spacing-unit;
  border-bottom: 0;
  color: darken($coop-blue, 20%);
  background-color: $offwhite;
  @include single-transition(all, 0.15s, linear);

  &:hover, &:focus {
    color: darken($coop-blue, 20%);
    background-color: darken($offwhite, 5%);
    border-bottom: 0;
  }
}

// Text buttons
.coop-btn-text {
  &:after {
    padding-left: 5px;
    content: '\e608';
    font-family: 'coopicons';
    font-size: 0.8em;
  }
}

.coop-btn-underline {
  border-bottom: 1px dotted $coop-blue;

  &:hover, &:active {
    border-bottom: 1px dotted $coop-blue-highlighted;
  }
}

.icon-btn {
  position: relative;
  bottom: 2px;
  font-size: emCalc(16px);
}
