/*------------------------------------*\
   $Links
\*------------------------------------*/

a {
  color: $coop-link-blue;
  border-bottom: 1px dotted $coop-link-blue;
  text-decoration: none;
  @include transition(all, 0.25s, ease);
}

a:hover {
  color: $coop-blue-highlighted;
  border-bottom: 1px solid $coop-blue-highlighted; 
}

a:focus {
  outline: 1px dotted $coop-blue;
}

a:visited {
  color: $coop-link-visited;
  border-bottom: 1px dotted $coop-link-visited;
}