/*------------------------------------*\
   $Tables
\*------------------------------------*/

table {
  width: 100%;
  margin-bottom: $half-spacing-unit;

  th, td {
    padding: $quarter-spacing-unit $half-spacing-unit;
    text-align: left;
  }

  tbody, tfoot {
    color: $coop-grey;
  }

  thead {
    background-color: $coop-blue;
    color: $white;
  }

  tbody {
    td {
      border-bottom: 1px solid $coop-grey;
      word-break: break-all;
    }
    th {
      background-color: $offwhite;
      border-bottom: 1px solid $coop-grey;
    }
  }

  tfoot {
    font-family: $regular;

    td {
      font-weight: bold;
      background-color: $offwhite;
    }

  }

}

// Zebra striping for large data tables

.zebra {
  
  tbody {

    tr {

      &:nth-child(even) {
        background-color: $offwhite;
      }

    }

  }
  
}

// Simple responsive tables. Wrap a div round your table and apply the class.

.table-overflow-x {
  overflow-x: visible;
  overflow-y: hidden;
}

.table-overflow-y {
  overflow-x: hidden;
  overflow-y: visible;
}