.ds-header {
  @include spacing("padding", "top", "half");
  @include spacing("padding", "bottom", "half");
  z-index: 1;
  position: relative;
  // box-shadow: 0 1px 6px 0 rgba(0,0,0,0.10);

  .coop-logo {
    display: inline-block;
    width: auto;
    margin-left: 0;
    // margin-top: 2px;

    @include media(medium) {
      margin-left: 1px;
    }

    svg {
      display: inline-block;

      path {
        fill: #00B1E7;
      }
    }
  }
}


.header-main {
  color: #fff;
  border-bottom: none;
  padding-top: 20px;
  padding-bottom: 15px;
  @include media(medium) {
    padding-top: 40px;
    padding-bottom: 35px;
  }
 a {
    color: #fff;
    border-color: #fff;
    &:hover {
      border: 0;
    }
 }
}

.full-content-wrap {
  padding: 0 $half-spacing-unit;
}
