/*------------------------------------*\
   $Form
\*------------------------------------*/


.form-full--header {
  padding: 0;
  background: $white;

  @media #{$large} {
    padding: $quarter-spacing-unit $half-spacing-unit;
    background: $coop-blue;
    color: $white;
  }

  .form-full--header_title {
    margin-bottom: 0;
    color: $coop-blue;

    @media #{$large} {
      color: $white;
    }

  }

}

.form-full--fields {
  @include clearfix;
  margin-bottom: $half-spacing-unit;
  padding: $half-spacing-unit 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0; 
  
  @media #{$large} {
    padding: $half-spacing-unit;
    border-right: 1px solid $coop-border-grey;
    border-bottom: 1px solid $coop-border-grey;
    border-left: 1px solid $coop-border-grey; 
  }

  .coop-btn {
    width: 100%;
  }

} 

.form-navigation {
  @include clearfix;
  margin-top: $half-spacing-unit;
  padding-top: $half-spacing-unit;
  border-top: 1px solid $coop-border-grey;

  .coop-btn-back {
    width: 100%;
    float: none;
    margin-right: 0;

    @media #{$large} {
      width: auto;
      float: left;
      margin-right: $quarter-spacing-unit;
    }

  }

  .coop-btn-proceed {
    width: 100%;
    float: none;

    @media #{$large} {
      width: auto;
      float: right;
    }

  }

}

// Parsley multi-step form show/hide MVP
.form-section {
  display: none;
}

.form-section {

  &.current {
    display: inherit;
  }

}
