<div class="ds-back">
    {% if page.id contains 'pattern-library' %}
    <a href="/pattern-library/index.html" class="ds-back__link">
    <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.6 29.2">
      <path d="M1 15.6c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4L13.7.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4L1.7 15.3c-.2.2-.4.3-.7.3zm13.6 13.6c-.3 0-.5-.1-.7-.3L.3 15.3c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l13.6 13.6c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z"/>
    </svg>
    Back to the pattern library
    </a>
    {% endif %}
    {% if page.id contains 'guidance' %}
    <a href="/index.html" class="ds-back__link">
    <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.6 29.2">
      <path d="M1 15.6c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4L13.7.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4L1.7 15.3c-.2.2-.4.3-.7.3zm13.6 13.6c-.3 0-.5-.1-.7-.3L.3 15.3c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l13.6 13.6c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z"/>
    </svg>
    Back to the design system
    </a>
    {% endif %}
    {% if page.id contains 'secondlevel' %}
    <a href="/guidance.html" class="ds-back__link">
    <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.6 29.2">
      <path d="M1 15.6c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4L13.7.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4L1.7 15.3c-.2.2-.4.3-.7.3zm13.6 13.6c-.3 0-.5-.1-.7-.3L.3 15.3c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l13.6 13.6c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z"/>
    </svg>
    back to how we design
    </a>
    {% endif %}
    {% if page.id contains 'thirdlevelforms' %}
    <a href="index.html" class="ds-back__link">
    <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.6 29.2">
      <path d="M1 15.6c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4L13.7.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4L1.7 15.3c-.2.2-.4.3-.7.3zm13.6 13.6c-.3 0-.5-.1-.7-.3L.3 15.3c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l13.6 13.6c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z"/>
    </svg>
    Back to forms
    </a>
    {% endif %}
    {% if page.id contains 'thirdleveltables' %}
    <a href="index.html" class="ds-back__link">
    <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.6 29.2">
      <path d="M1 15.6c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4L13.7.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4L1.7 15.3c-.2.2-.4.3-.7.3zm13.6 13.6c-.3 0-.5-.1-.7-.3L.3 15.3c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l13.6 13.6c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z"/>
    </svg>
    Back to tables
    </a>
    {% endif %}
    {% if page.id contains 'user-research' %}
    <a href="index.html" class="ds-back__link">
    <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.6 29.2">
      <path d="M1 15.6c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4L13.7.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4L1.7 15.3c-.2.2-.4.3-.7.3zm13.6 13.6c-.3 0-.5-.1-.7-.3L.3 15.3c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l13.6 13.6c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z"/>
    </svg>
    Back to user research guides
    </a>
    {% endif %}
    {% if page.id contains 'ur-level-2' %}
    <a href="../index.html" class="ds-back__link">
    <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.6 29.2">
      <path d="M1 15.6c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4L13.7.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4L1.7 15.3c-.2.2-.4.3-.7.3zm13.6 13.6c-.3 0-.5-.1-.7-.3L.3 15.3c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l13.6 13.6c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z"/>
    </svg>
    Back to user research guides
    </a>
    {% endif %}
    {% if page.id contains 'urlevel3' %}
    <a href="index.html" class="ds-back__link">
    <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.6 29.2">
      <path d="M1 15.6c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4L13.7.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4L1.7 15.3c-.2.2-.4.3-.7.3zm13.6 13.6c-.3 0-.5-.1-.7-.3L.3 15.3c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l13.6 13.6c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z"/>
    </svg>
    Back to conducting research
    </a>
    {% endif %}
    {% if page.id contains 'content-level-2' %}
    <a href="/content/index.html" class="ds-back__link">
    <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.6 29.2">
      <path d="M1 15.6c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4L13.7.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4L1.7 15.3c-.2.2-.4.3-.7.3zm13.6 13.6c-.3 0-.5-.1-.7-.3L.3 15.3c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l13.6 13.6c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z"/>
    </svg>
    Back to content style guide and glossary
    </a>
    {% endif %}
</div>
