<article class="dm-component">
	<header class="dm-component__header">
    	<h3 class="dm-component__heading"><span class="dm-component__label">Example</span> {{ entry.title }}</h3>
    	<!-- <button href="#toggle-1" class="toggle-trigger pull-right" data-toggle>Show HTML snippet</button> -->
	</header>
	<!-- <div id="toggle-1" class="dm-toggle__content">
	    <div class="dm-component__source">
			{% highlight html %}
			{{ entry.content }}
			{% endhighlight %}
		</div>
	</div> -->

	{{ entry.content }}

    <!-- <p class="dm-component__sass">Location: {{ entry.scss }}</p> -->
</article>
