<section class="ds-feedback">
    <div class="coop-l-wrap">
        <div class="coop-l-row">
            <div class="coop-l-columns coop-l-medium-7">
                <div id="FeedbackForm">
                    <form action="https://formspree.io/matt.tyas@coopdigital.co.uk" method="POST">
                        <input type="hidden" name="_next" value="http://coop-design-manual.herokuapp.com/feedback.html" />
                        <input type="hidden" name="_subject" value="New feedback for design manual" />
                        <input type="hidden" name="_cc" value="design@coopdigital.co.uk" />
                        <input type="hidden" name="_format" value="plain" />
                        <input type="text" name="_gotcha" style="display:none" />
                        <div class="coop-u-margin-bb coop-u-padding-x">
                            <p class="coop-u-padding-bh"><a href="#" id="js-toggle" role="button">Is there anything wrong with this page?</a></p>
                        </div>
                        <div class="coop-u-margin-x coop-u-padding-x ds-c-toggle" id="FeedbackFormExpanded">
                            <div class="coop-l-row">
                                <div class="coop-l-column">
                                    <div class="coop-u-margin-bh">
                                        <label id="feedback-comment" for="id_comments" class="label">What was missing or wrong?</label>
                                        <textarea cols="40" id="id_comments" name="comments" rows="5"></textarea>
                                    </div>
                                    <div class="coop-u-margin-bh">
                                        <label for="email" class="label">
                                          Your email address
                                          <span class="hint">Include an email address if you want us to reply.</span>
                                        </label>
                                        <input type="email" id="email" name="email" autocomplete="email" class="email coop-form__input " />
                                    </div>
                                    <div class="coop-u-margin-tb coop-u-margin-bb">
                                        <button class="coop-btn coop-btn--primary" type="submit">Send feedback</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
