<!-- Main footer -->
<footer class="footer-main">

    <div class="wrap">

        <div class="row">
    
            <div class="column">
    
                <nav class="secondary-nav">
                    <ul class="list-bare">     
                        <li><a href="/">Supported devices</a></li>
                        <li><a href="/">Archived versions</a></li>
                        <li><a href="/">Updates</a></li>
                    </ul>
                </nav>
    
            </div>
    
        </div>

    </div>
     
</footer>
