<section>
 <div class="wrap">
  <div class="row">
   <div class="columns medium-7">
    <div id="FeedbackForm">
        <form action="https://formspree.io/matt.tyas@coopdigital.co.uk" method="POST">
            <input type="hidden" name="_next" value="http://coop-design-manual.herokuapp.com/feedback.html" />
            <input type="hidden" name="_subject" value="New feedback for design manual" />
            <input type="hidden" name="_cc" value="design@coopdigital.co.uk" />
            <input type="hidden" name="_format" value="plain" />
            <input type="text" name="_gotcha" style="display:none" />
            <div class="tile">
                <div class="row">
                    <div class="column">
                        <div class="text">
                            <h3 class="h2">Feedback</h3>
                        </div>
                        <div class="form-row">

                            <fieldset>
                                <legend class="legend-tap">Did you find this useful?</legend>
                                    <div class="input input-tap">
                                        <label for="id_like_0" class="block-label">
                                        <input id="id_like_0" name="like" type="radio" value="Good" />
                                        Yes</label>
                                        <label for="id_like_1" class="block-label">
                                        <input id="id_like_1" name="like" type="radio" value="Bad" />
                                        No</label>
                                        <label for="id_like_2" class="block-label">
                                        <input id="id_like_2" name="like" type="radio" value="Other" />
                                        Other</label>
                                    </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tile slide-toggle-content" id="FeedbackFormExpanded">
                <div class="row">
                    <div class="column">
                        <div class="form-row">
                            <div class="input input-textarea">

                                <div class="input input-text">
                                    <label id="feedback-comment" for="id_comments">Tell us why.</label>

                                    <textarea cols="40" id="id_comments" name="comments" rows="5"></textarea>

                                </div>

                            </div>
                        </div>
                        <div class="form-row">
                            <button class="btn btn-primary" type="submit">Send feedback</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
     </div>
      </div>
        </div>
    <div class="wrap">
     <div class="row">
       <div class="columns medium-7">
        <a href="#top" class="back-to-top link-icon-right">Back to top <span class="icon icon-up-arrow" aria-hidden="true"></span></a>
       </div>
     </div>
   </div>
</section>
