<footer class="ds-c-footer">
    <div class="coop-l-wrap">
        <div class="coop-l-row">
            <div class="coop-l-columns coop-l-all-12">
                <nav class="ds-c-footer__list">
                    <ul class="coop-u-list-bare">
                        <li {% if page.id == 'process' %} class="is--active" {% endif %}><a href="/process.html">What alpha, beta and live mean</a></li>
                        <li {% if page.id == 'supported-devices' %} class="is--active" {% endif %}><a href="/supported-devices.html">Supported devices</a></li>
                        <li {% if page.id == 'archive' %} class="is--active" {% endif %}><a href="/archive.html">Archived versions</a></li>
                        <li {% if page.id == 'updates' %} class="is--active" {% endif %}><a href="/updates.html">Updates</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
