<!-- Skip nav -->
<nav class="skip-nav">
    <ul>
        <li><a accesskey="c" href="#main" title="Skip to main content">Skip to content</a></li>
        <li><a accesskey="n" href="#navigation" title="Skip to primary navigation">Skip to navigation</a></li>
    </ul>
</nav>
<!-- /Skip nav -->

<!-- Top bar -->
<div class="top-bar">
    <div class="wrap">
        <a href="#">Become a Member</a>
    </div>
</div>
<!-- /Top bar -->

<header class="wrap header-main">

    <a class="coop-logo" aria-label="Homepage" href="/">
        <img src="/assets/images/logos/coop-logo.svg" alt="Co-op" onerror="this.onerror=null; this.src='/assets/images/logos/coopX2.png'">
    </a>

    <a href="/" class="identifier">Style Guide</a>

    <a href="#" class="mobile-menu-toggle">
        <span class="icon icon-menu"></span><span class="mobile-menu-text">Menu</span>
    </a>
</header>

<!-- Primary Navigation -->
<nav id="navigation" class="nav-primary">
    <div class="wrap">

        <ul>
            <li{% if page.id == 'index' %} class="active"{% endif %}><a href="/">Design elements</a></li><!--
            --><li{% if page.id == 'standards' %} class="active"{% endif %}><a href="/standards.html">Code standards</a></li>
        </ul>

    </div>
</nav>
<!-- /Primary Navigation -->
