<nav class="skip-nav">
    <ul>
        <li><a accesskey="c" href="#main" title="Skip to main content">Skip to content</a></li>
        <li><a accesskey="n" href="#navigation" title="Skip to primary navigation">Skip to navigation</a></li>
    </ul>
</nav>

<div class="top-bar">
    <div class="wrap">
        <a href="#">Become a Member</a>
    </div>
</div>

<header class="wrap header-main">

    <a class="coop-logo" aria-label="Homepage" href="/">
        <img src="/assets/images/logos/coop-logo.svg" alt="Co-op" onerror="this.onerror=null; this.src='/assets/images/logos/coopX2.png'">
    </a>

    <a href="/" class="identifier">Style Guide</a>

    <a href="#navigation" class="mobile-menu-toggle">
        <span class="icon icon-menu"></span><span class="mobile-menu-text">Menu</span>
    </a>
</header>

<nav id="navigation" class="nav-primary">
    <div class="wrap">

        <ul>
            <li{% if page.id == 'colours' %} class="active"{% endif %}><a href="/colours.html">Colours</a></li>
            <li{% if page.id == 'typography' %} class="active"{% endif %}><a href="/typography.html">Typography</a></li>
            <li{% if page.id == 'icons' %} class="active"{% endif %}><a href="/icons.html">Icons</a></li>
            <li{% if page.id == 'common-elements' %} class="active"{% endif %}><a href="/common-elements.html">Common elements</a></li>
            <li{% if page.id == 'layout' %} class="active"{% endif %}><a href="/layout.html">Layout</a></li>
            <li{% if page.id == 'forms' %} class="active"{% endif %}><a href="/forms.html">Forms</a></li>
            <li{% if page.id == 'components' %} class="active"{% endif %}><a href="/components.html">Components</a></li>
            <li{% if page.id == 'templates' %} class="active"{% endif %}><a href="/templates.html">Templates</a></li>
        </ul>

    </div>
</nav>
