<nav class="skip-nav">
    <ul>
        <li><a accesskey="c" href="#main" title="Skip to main content">Skip to content</a></li>
        <li><a accesskey="n" href="#navigation" title="Skip to primary navigation">Skip to navigation</a></li>
    </ul>
</nav>

<div class="top-bar">
    <div class="wrap">
        <a href="#">Become a Member</a>
    </div>
</div>

<header class="wrap header-main">

    <a class="coop-logo" aria-label="Homepage" href="/">
        <img src="/assets/images/logos/coop-logo.svg" alt="Co-op" onerror="this.onerror=null; this.src='/assets/images/logos/coopX2.png'">
    </a>

    <a href="/" class="identifier">Style Guide</a>

    <a href="#navigation" class="mobile-menu-toggle" data-toggle data-toggle-text-open="Close" data-toggle-text-selector="body > .header-main .mobile-menu-text">
        <span class="icon icon-menu"></span><span class="mobile-menu-text">Menu</span>
    </a>
</header>

<nav id="navigation" class="nav-primary">
    <div class="wrap">

        <ul>
            <li{% if page.id == 'front-end-elements' %} class="active"{% endif %}><a href="/front-end-elements/">Front-end elements <span class="icon icon-down-arrow-button"></span></a>
                <ul>
                    <li{% if page.id == 'colours' %} class="active"{% endif %}><a href="/front-end-elements/colours.html">Colours</a></li>
                    <li{% if page.id == 'typography' %} class="active"{% endif %}><a href="/front-end-elements/typography.html">Typography</a></li>
                    <li{% if page.id == 'icons' %} class="active"{% endif %}><a href="/front-end-elements/icons.html">Icons</a></li>
                    <li{% if page.id == 'common-elements' %} class="active"{% endif %}><a href="/front-end-elements/common-elements.html">Common elements</a></li>
                    <li{% if page.id == 'layout' %} class="active"{% endif %}><a href="/front-end-elements/layout.html">Layout</a></li>
                    <li{% if page.id == 'forms' %} class="active"{% endif %}><a href="/front-end-elements/forms.html">Forms</a></li>
                    <li{% if page.id == 'components' %} class="active"{% endif %}><a href="/front-end-elements/components.html">Components</a></li>
                    <li{% if page.id == 'templates' %} class="active"{% endif %}><a href="/front-end-elements/templates.html">Templates</a></li>
                </ul>
            </li>
            <li{% if page.id == 'accessibility' %} class="active"{% endif %}><a href="/accessibility.html">Accessibility</a></li>
            <li{% if page.id == 'supported-devices' %} class="active"{% endif %}><a href="/supported-devices.html">Supported devices</a></li>
            <!-- <li{% if page.id == 'code-standards' %} class="active"{% endif %}><a href="/code-standards.html">Code standards</a></li> -->
        </ul>

    </div>
</nav>
