.ds-tabs__item {
  margin-right: 10px;
}

.accordion-wrapper {
  padding-top: 10px;
}
.tabs-container__panel:focus {
  outline: 2px dotted $yellow-mid;
  outline-offset: 3px;
}

.coop-ds-example {
  margin-bottom: 64px;
  padding: 24px 16px 38px 16px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.08);

  @include media(medium) {
    padding: 24px 32px 38px 32px;  
  }

  .tabs-init {
    position: relative;
  }

  .ds-tabs {
    display: none;

    @include media(medium) {
      display: block;
      position: absolute;
      top: -55px;
      right: -20px;
    }

    .btn-pill {
      font-size: 1rem;
    }
  }
}

.ds-pen-example__header {
  @include clearfix();
}

@media (min-width: 751px) {
  .tabs-nav-init .tabs-container__title,
  .tabs-nav-init .tabs-container__panel {
    display:none;
  }

  .tabs-container__panel[aria-hidden="false"] {
    display:block
  }

}

@media (max-width: 750px) {
  .tabs-navigation,
  .tabs-init .tabs-container__panel,
  .tabs-init .accordion--closed .tabs-container__panel {
    display: none;
  }

  .tabs-nav-init {
    margin-bottom: 32px;
  }

  .tabs-init .tabs-container__title {
    padding: 16px;
    cursor: pointer;
    border: 1px solid #c4c4c4;

    &:after {
      content: '';
      position: relative;
      top: -3px;
      display: block;
      float: right;
      height: 32px;
      width: 32px;
      background: url(/images/icons/content-reveal-arrow.svg) 0 0 repeat;
    }
  }

  .tabs-init .tabs-container__title[aria-expanded="false"] {

    &:after {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }

  .tabs-init .tabs-container__title[aria-expanded="true"] {

    &:after {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }

  .accordion--closed .tabs-container__title,
  .tabs-init .tabs-container__title {
    background: #FFF;
  }

  .tabs-container__panel[aria-hidden="false"] {
    display: block;
    margin: 16px 16px 32px 16px;
  }

  .tabs-container__title[aria-selected="true"] {
    background: #FFF;
  
    &:active,
    &:focus {
      outline: 2px dotted #eec300;
      outline: 2px dotted var(--color-link--focus);
      outline-offset: 3px;
    }
  }

  .tabs-container__panel.accordion--closed {
    border-bottom: none;
  }
}
