.ds-tabs__item {
  margin-right: 10px;
}

.accordion-wrapper {
  padding-top: 10px;
}
.tabs-container__panel:focus {
  outline: 2px dotted $yellow-mid;
  outline-offset: 3px;
}

.coop-ds-example {
  margin-bottom: 64px;
  padding: 24px 32px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.05);

  .tabs-init {
    position: relative;
  }

  .ds-tabs {
    display: none;

    @include media(medium) {
      display: block;
      position: absolute;
      top: -45px;
      right: -20px;
    }

    .btn-pill {
      font-size: 1rem;
    }
  }
}

.ds-pen-example__header {
  @include clearfix();
}

@media (min-width: 751px) {
  .tabs-nav-init .tabs-container__title,
  .tabs-nav-init .tabs-container__panel {
    display:none;
  }

  .tabs-container__panel[aria-hidden="false"] {
    display:block
  }

}

@media (max-width: 750px) {
  .tabs-navigation,
  .tabs-init .tabs-container__panel,
  .tabs-init .accordion--closed .tabs-container__panel {
    display:none;
  }

  .tabs-init .tabs-container__title {
    padding: 1em 1.5em;
    cursor: pointer;
  }

  .accordion--closed .tabs-container__title,
  .tabs-init .tabs-container__title {
    background: #F3F3F3;
  }

  .tabs-container__panel[aria-hidden="false"] {
    display: block;
  }

  .tabs-container__title[aria-selected="true"] {
    background: #9FB1C6;
  }

  .tabs-container__panel.accordion--closed {
    border-bottom: none;
  }
}
