.btn-pill {
  padding: 12px 20px;
  border-radius: 40px;
  border: 0;
  background: $grey-light;
  color: $text;
  transition: background .15s ease;
  &:hover {
    background: #394C61;
    color: #fff;
    border: 0;
  }
}

.coop-u-grey-light-bg .btn-pill {
  background: #fff;
  &:hover {
    background: #394C61;
    color: #fff;  
  }
}

.btn-pill[aria-selected="true"] {
  background: #394C61;
  color: #fff;
  border: 0;
  &:hover {
    color: #fff;
  }
}

.btn--outline {
  background: transparent;
  border: 2px solid $link;
  color: $link;
  border-radius: 6px;
  &:hover {
    background: transparent;
    border: 2px solid $link-hover;
    color: $link-hover;
  }
}
