/*------------------------------------*\
   $Storefinder Header interaction
\*------------------------------------*/

.storefinder-toggle {
  position: absolute;
  top: 5px;
  right: 0;
  display: block;
  float: right;
  padding: $quarter-spacing-unit 0 $quarter-spacing-unit $quarter-spacing-unit;
  border-bottom: 0; 
  color: $white;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    border-bottom: 0;
  }

  &:focus {
    color: $white;
    outline: 1px dotted $white;
  }

  @media #{$large} {
    top: 62px;
    color: $coop-blue;

    &:hover,
    &:active {
      color: $coop-blue;
    }

    &:focus {
      color: $coop-blue;
      outline: 1px dotted $coop-link-blue;
      border-bottom: 0;
    }

  }

  .hide {
    display: none;

    @media #{$large} {
      display: inline;
    }
    
  }

}

.storefinder-toggle--identifier {
  right: $base-spacing-unit;

  @media #{$large} {
    right: 0;
  }

}

.store-finder {
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  background: $coop-blue;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translatez(0);
  transition-property: all;
  transition-duration: 0.25s; 

  &.is--open {
    min-height: 400px;
    height: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible; 
  }

  @media #{$large} {
    height: 0;
    min-height: 0;
    position: static;
    top: 0;
    left: auto;
    right: 0;
    width: 100%;
    z-index: 99;
    background: $coop-blue;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    opacity: 1;
    visibility: visible;
    transition-property: all;
    transition-duration: 0.25s;

    &.is--open {
      min-height: 130px;
      height: 130px;
      height: 0vh;
    }

  }
}

.store-finder_form {
  max-width: 100%;
  padding: $quarter-spacing-unit;
  margin: $half-spacing-unit auto;

  @media #{$medium} {
    max-width: 60%;
    margin: 0 auto;
  }

  @media #{$large} {
    max-width: 80%;
    margin: 0 auto;
    padding: $quarter-spacing-unit;
  }

  .store-finder_form--label {
    width: 100%;
    display: block;
    margin-bottom: $quarter-spacing-unit;
    color: $white;
    font-size: rem-calc(32px);

    @media #{$large} {
      width: auto;
      display: inline;
      padding: 0.6em $quarter-spacing-unit;
      float: left;
      font-size: rem-calc(18px);
    }

  }

  .store-finder_form--input {
    width: 100%;
    border: 0;

    &:hover,
    &:focus {
      border: 0;
    }

    @media #{$large} {
      display: inline;
      width: 50%;
      margin-right: $quarter-spacing-unit;
      float: left;
    }

  }


  .coop-btn {
    width: 100%;
    margin-bottom: $quarter-spacing-unit;

    @media #{$large} {
      display: inline;
      width: auto;
      float: left;
    }

  }

  .location {
    display: inline-block;  
    margin-top: .8em;

    &:focus {
      color: $white;
      outline: 1px dotted $white;
    }

    @media #{$large} {
      margin-top: 0;

    }

  }

  a {
    color: $white;
    border-bottom-color: $white;
  }

}