/*------------------------------------*\
   $Messages
\*------------------------------------*/

.message {
  position: relative;
  width: 100%;
  padding: $half-spacing-unit / 2;
  margin-bottom: $half-spacing-unit;
  border: 1px solid;
  background: $white;
  

  span {
    font-size: 1.6em;
  }


  p,
  .message__text,
  label {
    font-size: emCalc(18px);
    margin: 0 0 0 $half-spacing-unit * 1.5;
  }

  .message-heading__text {
    margin: 0 0 0 $half-spacing-unit * 1.15;
  }

  ul,
  ol {
    font-size: emCalc(18px);
    margin: 0;
    padding-left: 50px;
  }

  ul:last-child,
  ol:last-child,
  p:last-child,
  a:last-child,
  label:last-child {
    margin-bottom: 0;
  }

  p + ul,
  label + ul,
  p + ol,
  label + ol,
  .message-heading__text + ul,
  .message-heading__text + ol,
  .message-heading__text + p,
  .message__text + ul,
  .message__text + ol,
  .message__text + p, {
    margin-top: $quarter-spacing-unit;
  }

  &:before {
    @extend %icon;
    position: absolute;
    top: .6em;
    font-size: 1.6em;
  }

}

.message--default {
  border-color: $coop-blue;
  color: $coop-blue;

  label {
    color: $coop-blue;
  }

  &:before {
    @extend %icon-information;
    color: $coop-blue;
  }

}

.message--default_prompt {

  &:before {
    @extend %icon-help;
  }

}

.message--info {
  border-color: $info-orange;
  color: $info-orange;

  &:before {
    @extend %icon-information;
    color: $info-orange;
  }

}

.message--error {
  border-color: $saleerror-red;
  color: $saleerror-red;

  &:before {
    @extend %icon-alert;
    color: $saleerror-red;
  }

}

.message--success {
  border-color: $button-green;
  color: $button-green;

  &:before {
    @extend %icon-tick;
    color: $button-green;
  }

}