/*------------------------------------*\
    $Toggle content
\*------------------------------------*/

.toggle--trigger {
  display: block;
  padding: $half-spacing-unit / 2;
  margin-bottom: $half-spacing-unit / 2;
  color: $coop-grey;
  border-top: 2px dotted $coop-grey;
  border-bottom: 2px dotted $coop-grey;
  background: $white;
  @include single-transition(background-color);

  &:hover,
  &:focus, 
  &:active {
    color: $coop-blue;
    background: $offwhite;
    border-top: 2px dotted $coop-grey;
    border-bottom: 2px dotted $coop-grey;
  }

}

.toggle--trigger:hover .toggle--trigger_icon:before {
  color: $coop-blue;
}

.toggle--trigger_icon {  
  @extend %icon;  
  float: right;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  @include single-transition(all);

  &:hover {
    color: $coop-blue;
  }

  &:before {
    @extend %icon-up-arrow-button;   
    font-size: emCalc(16px);
    color: $coop-grey;
  }

}

.toggle--trigger.is--active {
  color: $coop-blue;

  span {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

    &:before {
      color: $coop-blue;
      // Fall back to the opposite icon instead maybe
      // Depends on support / UX needed within that support
    }

  }
}

.toggle--content {
  padding: 0 $half-spacing-unit / 2;
  margin-bottom: 0;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

.toggle--content.is--expanded {
  // As this is added via Jquery CSS I need to overide the inline CSS with !important and know that
  // the jquery fallback won't be affected by max-height or opacity in the external CSS.
  max-height: 999px !important;
  opacity: 1 !important;
}

.no-js .toggle--trigger_icon {
  display: none;
}
