language: ruby
cache: bundler
rvm:
- 2.2.3
script: cd styleguide && bundle install && bundle exec jekyll build
deploy:
  provider: heroku
  api_key:
    secure: sWX1nIhsIY72+JSfxA+mnmlHQ2ypZswwP+S95q2G2ot1ShnUkS7UnRhJYFpscb9retUJb++wrw4GIWcKc2dFIAx4/619zvfePvSjS1mRRp8zyFQaLYUYFGuxUuiIbHBupl8LA96pqz9wTwnGoynT6fyljgIEPB/INHTpqQGJAxNyWMp7yE6X3qCGI+XetBvoKjybK5RUAN+wGgexWWWTTHZSpf7JGzrydya/fDYGhWJKyOK+ywugCik5mLicm2/3Pv58U+4WHEXhej3WeNx2GonGppD0OgIsHku6r9MDwhw6N0kw5UDup6Achxgn1KOfnHH2AEmvE3PLBOoFpo6gJo7eA4IKGKzYk3BBZ3i+OF7obNjN2ofmXtQx5yfmefhth1hrj+cdwb5Il3+ebgiDQsQaStwwqi5sjrbiYzMJxgS2fVHgOQu1lSF79tcmikRM2d7sYlq8r8IM3hP6+SWZSTgIGyBMSt/1pLkl5WI2Lll9KCAENxI5omeg9jga13F+d39tkyOmbx63ZRtRYamqpIwLadDN8dz+M6GxjXzpM+uPozdhwxhwPSjBxXYlzt23qS/RN5l/pD4aylMtsYYhCHV+cLbxchUy+eCSl873iCml3gNH+PdB6TNjtr5bS3C7iuYdwaxU7ZRYVFRT5bFBBJu/f765o/RieRrtjK6nh80=
  app: single-site-styleguide
  on:
    repo: coopdigital/single-site-styleguide
