<ul class="list-inline">
    <li><a href="page.html">{{ inlinelist.item1 }}</a></li>
    <li><a href="page.html">{{ inlinelist.item2 }}</a></li>
    <li><a href="page.html">{{ inlinelist.item3 }}</a></li>
</ul>
