<ul id="section-nav" class="list-bare content-links side-box grey-border">
    {% if page.active == "designing-forms" %}
        <li class="active">Designing forms</li>
    {% else %}
        <li><a href="designing-forms.html">Designing forms</a></li>
    {% endif %}
    {% if page.active == "form-inputs" %}
        <li class="active">Form inputs</li>
    {% else %}
        <li><a href="form-inputs.html">Form inputs</a></li>
    {% endif %}
    {% if page.active == "form-patterns" %}
        <li class="active">Form patterns</li>
    {% else %}
        <li><a href="form-patterns.html">Form patterns</a></li>
    {% endif %}
</ul>
