<ul id="section-nav" class="list-bare content-links side-box grey-border">
    {% if page.active == "designing-tables" %}
        <li class="active">Designing tables</li>
    {% else %}
        <li><a href="designing-tables.html">Designing tables</a></li>
    {% endif %}
    {% if page.active == "table-patterns" %}
        <li class="active">Table patterns</li>
    {% else %}
        <li><a href="table-patterns.html">Table patterns</a></li>
    {% endif %}
    {% if page.active == "code-standards" %}
        <li class="active">Code standards</li>
    {% else %}
        <li><a href="code-standards-for-tables.html">Code standards</a></li>
    {% endif %}
</ul>
