
<article class="coop-c-card coop-c-card--product coop-c-card--alcohol">
    <a href="/products/wine/product.html" class="coop-c-card__link">
        <div class="coop-c-card__image">
            <img src="/images/examples/components/cards/large_0135_wine-france-comtessesainthilaire.png" alt="Comtesse Saint Hilaire Montagne Saint Emilion red wine from France" class="coop-c-card__image-alcohol">
        </div>
        <div class="coop-c-card__content coop-c-card__content--alcohol">
            <h3 class="coop-c-card__title">Comtesse Saint Hilaire Montagne Saint Emilion</h3>
            <p class="coop-c-card__price">&pound;9.50</p>
            <div class="coop-c-card__content-bottom">
                <ul class="coop-c-list-tags">
                    <li class="coop-c-list-tags__item coop-c-icon">
                        <img class="coop-c-icon__left" src="/images/examples/components/tags/france.svg" alt="" height="28px" width="28px" /><span> France</span>
                    </li>
                    <li class="coop-c-tag coop-c-tag--wine-red">Red</li>
                    <li class="coop-c-tag coop-c-tag--vegetarian">Vegetarian*</li>
                </ul>
            </div>
        </div>
    </a>
</article>
