
<article class="coop-c-card coop-c-card--product">
    <a href="/products/product.html" class="coop-c-card__link">
        <div class="coop-c-card__image">
            <img src="https://coop-design-system.herokuapp.com/images/examples/components/cards/P15-Chicken-Korma-Pilau-rice.jpg" alt="Co-op Chicken Korma and Pilau rice" class="coop-c-card__image-product">
        </div>
        <div class="coop-c-card__content">
            <h3 class="coop-c-card__title">Co-op Chicken Korma and Pilau rice</h3>
            <p class="coop-c-card__price coop-c-card__price--sale">&pound;3 <span class="coop-c-card__price-was">was &pound;4</span></p>
            <div class="coop-c-card__content-bottom">
                <ul class="coop-c-list-tags">
                    <li class="coop-c-tag coop-c-tag--sale">Deal</li>
                </ul>
            </div>
        </div>
    </a>
</article>
