/*------------------------------------*\
   $Membership header
\*------------------------------------*/

.coop-membership-header {

  background: $coop-blue;

  .coop-membership-header--inner {
    height: 30px;

  }

  .coop-membership-header--link {
    color: $white;
    border-bottom-color: $white; 
    font-size: emCalc(13px);
  }

}