<div class="example grid-example">
    <div class="row">
        <div class="column all-6 collapse">
            <code>.all-6 .collapse</code>
        </div>
        <div class="column all-6">
            <code>.all-6</code>
        </div>
    </div>
    <div class="row collapse">
        <div class="column all-6">
            <code>.row.collapse > .all-6 </code>
        </div>
        <div class="column all-6">
            <code>.row.collapse > .all-6 </code>
        </div>
    </div>
</div>