<div class="example grid-example">
    <div class="row">
        <div class="column small-6 medium-3">
            <code>.small-6 .medium-3</code>
        </div>
        <div class="column small-6 medium-3">
            <code>.small-6 .medium-3</code>
        </div>
        <div class="column small-6 medium-3">
            <code>.small-6 .medium-3</code>
        </div>
        <div class="column small-6 medium-3">
            <code>.small-6 .medium-3</code>
        </div>
    </div>
    <div class="row">
        <div class="column small-4">
            <code>.small-4</code>
        </div>
        <div class="column small-4">
            <code>.small-4</code>
        </div>
        <div class="column small-4">
            <code>.small-4</code>
        </div>
    </div>
    <div class="row">
        <div class="column medium-6">
            <code>.medium-6</code>
        </div>
        <div class="column medium-6">
            <code>.medium-6</code>
        </div>
    </div>
    <div class="row">
        <div class="column medium-4 large-2">
            <code>.medium-4 .large-2</code>
        </div>
        <div class="column medium-4 large-2">
            <code>.medium-4 .large-2</code>
        </div>
        <div class="column medium-4 large-2">
            <code>.medium-4 .large-2</code>
        </div>
        <div class="column medium-4 large-2">
            <code>.medium-4 .large-2</code>
        </div>
        <div class="column medium-4 large-2">
            <code>.medium-4 .large-2</code>
        </div>
        <div class="column medium-4 large-2">
            <code>.medium-4 .large-2</code>
        </div>
    </div>
    <div class="row">
        <div class="column small-4">
            <code>.small-4</code>
        </div>
        <div class="column small-8">
            <code>.small-8</code>
        </div>
    </div>
</div>