.articles {
    .header-main {
        background-color:#d2352c;    
            .articles {
                border-bottom: 10px solid #fff;
                padding-bottom: 50px;
            }
    }
    h1 {
        display: inline-block;
    }
    .clear-btn {
        float: right;
    }
    .box-title {
        padding: $half-spacing-unit;
        h3 {
            padding: 0;
        }
    }
}

.articles-intro {
    padding: $base-spacing-unit;
}

.articles-img {
    background-image: url("/images/sketching-is-useful.jpg");
    height: 697px;
}
