.colours {

    .primary-nav ul .active a {
        border-color: lighten($purple-mid, 50%);
    }
 
    .highlight-banner {
        border: 2px solid lighten($purple-mid, 40%);
        padding: $half-spacing-unit;
            @include media(large) {
                padding: $base-spacing-unit;
                padding-right: 300px;
                font-size: 20px;
            }
    }

    .main {
        margin-top: 0;
    }

}
