// Guilty messy file


.header-design-manual {
  margin-top: $half-spacing-unit;
  border-bottom: 0;
}

.header-main .coop-logo,
.header-main .coop-logo-large {
  width: 36px;
  @include media(medium) {
    width: 68px;
  }
}

.info-banner--indent {
  padding: 7px 7px 7px 42px;
  @include media(small) {
    padding: 7px 7px 7px 42px;
  }
  @include media(medium) {
    padding: 18px 20px 18px 20px;
  }
}

.info-banner--indent p {
  margin-left: .25em;
}

.example-grid-wrap {
  position: relative;
}

.example-grid {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% + 16px);
  height: 100%;

  @include media(medium) {
    width: calc(100% + 32px);
  }

  .column {
    position: relative;
    height: 100%;

    span {
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.1);
    }
  }
}

.example-baseline {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #0dd 0, transparent 1px);
  background-repeat: repeat-y;
  background-size: 100% 8px;
}

.candidate {

  position: relative;
  padding: 3em 1em 1em 1em;
  margin-bottom: $base-spacing-unit;


  &:before {
    content: "Candidate";
    font-family: $medium;
    position: absolute;
    top: 0;
    left: 0;
    background: $info-orange;
    color: $white;
    padding: .25em;
  }
}

.published {

  position: relative;
  padding: 3em 1em 1em 1em;
  margin-bottom: $base-spacing-unit;


  &:before {
    content: "Published";
    font-family: $medium;
    position: absolute;
    top: 0;
    left: 0;
    background: $success-green;
    color: $white;
    padding: .25em;
  }
}

.example {
  position: relative;
  @include spacing('margin', 'bottom', 'base');
}

.example-heading {
  font-family: $bold;
  font-size: em-calc(20px);
  @include spacing('margin', 'bottom', 'half');
}

.example_label {
  padding: .25em;
  // font-family: $medium;
  color: $white;
  background: $bluey-dark-grey;
}

.example__bad {

  &:before {
    content: "Example";
    position: absolute;
    top: 0;
    left: 0;
    background: $saleerror-red;
    color: $white;
    padding: .25em;
  }
}


.grid-example {
  .row {

    .column {
      background: $offwhite;

      > code {
        display: block;
        padding: $quarter-spacing-unit / 2;
        min-height: 6em;
        background: rgba(255,0,0,0.2);
        border: 2px solid rgba(255,0,0,0.6);;
      }
    }

  }
}

.full-width-example {
  padding-left: 0;
  padding-right: 0;
  border-width: 1px 0;
  box-shadow: 0 0 2px rgba(0,0,0,.25);
}

.colour-swatch {
  @extend %boxed;

  margin-bottom: 0;
  border-bottom: 0;
  height: 5em;
}

.icons-list {
  @include clearfix;
  @include list-bare;

  @include media(small) {
    li {
      float: left;
      width: 50%;
      padding-right: 10px;

      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }

  @include media(medium) {
    li {
      width: 33%;

      &:nth-child(2n+1) {
        clear: none;
      }

      &:nth-child(3n+1) {
        clear: left;
      }
    }
  }

  @include media(xlarge) {
    li {
      width: 25%;

      &:nth-child(3n+1) {
        clear: none;
      }

      &:nth-child(4n+1) {
        clear: left;
      }
    }
  }

  .icon {
    color: $coop-blue;
  }
}

.body-copy {
  background-color: $body-copy;
}

.boxed--even {
  min-height: 230px;
}

.margin-rq {
  margin-right: $quarter-spacing-unit;
}

.logo-padding {
  width: 122px;
  padding: 30px 20px 30px 30px;
  background: rgba(255,0,0,0.2);
}

.identifier {
  background: $white;
}

.identifier-padding {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: -18px;
    width: 155px;
    height: 68px;
    padding: 30px 20px 30px 30px;
    background: rgba(255,0,0,0.2);
  }

}

.header-row {
  border-bottom: 2px solid $coop-border-grey;
}

.unstyled-table {
  position: relative;
  border: 0;
  margin-bottom: 0;

  th, td {
    padding: 0;
  }

  .tr-divider {
    border-bottom: 1px solid $coop-border-grey;
  }

  tbody th,
  tbody td {
    background: $white;
    border-bottom: 0;
    font-family: $regular;
    font-weight: normal;
  }

  // .h-mega-meta {
  //   position: relative;
  //   box-shadow: 0px 64px 0px 0px #E6E6E6;
  //
  //   &:before,
  //   &:after {
  //     position: absolute;
  //     font-family: $regular;
  //     font-size: .3em;
  //   }
  //
  //   &:before {
  //     content: 'bottom margin: 32px';
  //     bottom: -20px;
  //     left: 5px;
  //     z-index: 999;
  //   }
  //
  //   &:after {
  //     content: 'leading: 64px';
  //     width: 80px;
  //     padding: 5px;
  //     height: 100%;
  //     background: #E6E6E6;
  //   }
  //
  // }

}

// .type-meta {
//   display: block;
//   position: absolute;
//   bottom: 0px;
// }
//
// .type-meta--margin {
//   bottom: 16px;
// }

.back-to-top {
  display: inline-block;
  @include spacing('margin', 'top', 'half');
}


.block {
  display: block;
}
