// Styles for v2 design

//Colour varibles
$green-blue-dark: #29837f;

// Common 
.m-tb-med-x {
  margin-top: $base-spacing-unit; ; 
  @include media(medium) {
    margin-top: 0; 
  }
}

.m-bh-med-b {
  margin-bottom: $half-spacing-unit; 
  @include media(medium) {
    margin-bottom: $base-spacing-unit; 
  }
}

.m-re-med-q {
  margin-right: $eighth-spacing-unit;
  
  @include media(medium) {
    margin-right: $quarter-spacing-unit; 
  }
}

.list-be li {
  margin-bottom: $eighth-spacing-unit;
}

.icon-link {

  &::before {
    content:'';
    display: inline-block;
    margin-right: $eighth-spacing-unit;
  }

  .link-text {
    text-decoration: underline;
  }

  .link-info {
    color: #b9b9b9;
  }
}

.download-icon {
  &::before {
    height: 17px;
    width: 21px;
    background-image: url('/images/icons/download-icon.svg');
  }
}

.external-icon {
  &::before {
    height: 21px;
    width: 17px;
    background-image: url('/images/icons/external-icon.svg');
  }
}


.blue-mid {
  background: $blue-mid;
  color: $white;
 }

 .blue-bt {
  border-top: 6px solid lighten($blue-mid, 20%);
}

.mid-blue-bb {
  border-bottom: 6px solid lighten($blue-mid, 40%);

  &:hover {
    border-bottom: 6px solid lighten($blue-mid, 48%);
  }
}

.equal-h {

  @include media(medium) {
    display: flex;
  }
}

.no-bord {
  border: 0;
}

.white-link {
  color: $white;
  border-color: $white;

  &:hover {
    color: darken($white, 10%);
    border-color: darken($white, 10%);
  }
}

.intro-box {
  p {    
      @include media(large) {
        font-size: 25px;
      }
  }
  a {
      @include media(large) {
        font-size: 21px;
      }
    }
}

.highlight-banner {
  padding: $half-spacing-unit;
      @include media(large) {
          padding: $base-spacing-unit;
          padding-right: 300px;
          font-size: 20px;
      }
}

.tile--link h3 {
  display: inline;
}

// Logo
.header-main .coop-logo {
  width: 34px;
  height: 36px;
  padding: 5px;
  svg {
    fill: $white;
    width: 34px;
  }
}

// Tables
table thead, table tbody td, table tbody td, table tbody th:after {
  border-color: lighten($grey-dark, 50%);
}

.tight--divider {
  border-color: $grey-dark;
}

// Main Nav
.primary-nav {
    float: right;
    clear: none;
    margin-top: 7px;
  ul {
    list-style: none;
    margin: 0;
    text-align: left;
    padding-left: 0;
    .active {
      a {
        padding-right: 0;
        padding-bottom: 29px;
        border-bottom: 11px solid $white;

        @include media(medium) {
          padding-bottom: 49px;
        }
      }
    }
      li {
        display: inline-block;
        padding-right: 30px;
        padding-bottom: $quarter-spacing-unit;
          &:last-child {
            padding-right: 0;
          }
      }
  }
}

.in-page-nav {
  .selected a {
    border: 0;
    font-family: $bold;
    color: $text;
  }
}

.breadcrumbs {
  li {
      color: $text;
    a {
      color: $text;
      border-color: $text;
    }
    &::before {
      content: '\e608';
      margin-right: $quarter-spacing-unit;
      color: $text;
      font-family: 'coopicons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      vertical-align: middle;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      display: inline-block;
    }
  }

  @include media(medium) {
    padding-top: 20px;
    padding-bottom: 22px;
  }
}

//Feedback content
.feedback {
  margin-top: $half-spacing-unit*2;
  @include media(medium) {
    margin-top: $base-spacing-unit*2;
  }
}

#FeedbackForm {
  .label {
    font-size: em-calc(16px);

    @include media(large) {
       font-size: em-calc(20px);
    }
  }
  .block-label input[type=radio], .block-label input[type=checkbox] {
    top: 19px;
  }
   .block-label {
    width: 50%;
    display: inline-block;
    margin-right: $eighth-spacing-unit;
    font-size: 16px;
    padding: 15px 47px;

    @include media(medium) {
      width: 118px;
      min-width: 118px;
      margin-right: $quarter-spacing-unit;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.slide-toggle-content {
  outline: 0;
  display: none;
}

//Footer 
.footer-main {
  background-color: $grey-light;
  padding: $base-spacing-unit 0;
  .secondary-nav {
   
    @include media(medium) {
      text-align: right;
    }
    ul {
      margin-bottom: 0;
      .active {
        a {
          padding-right: 0;
          padding-top: $eighth-spacing-unit;
          border-top: 11px solid $white;
  
          @include media(medium) {
            padding-top: 57px;
          }
        }
      }
    }
    li { 
      margin-bottom: $quarter-spacing-unit;
      @include media(medium) {
        display: inline-block;
        margin-right: $half-spacing-unit;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      color: $text;
      border: none;
      text-decoration: underline;
    }
  }
}


// Home
.home .header-main {
  background: $blue-mid;
}

.home {
  .tile--link {
      min-height: 170px;
  }
}

.home .main {
  margin-top: 0;
}