// Styles for v2 design

// Logo
.header-main .coop-logo {
  width: 34px;
  height: 36px;
  padding: 5px;
  svg {
    fill: $white;
    width: 34px;
  }
}

// Common
.strong-title {
  font-family: $bold;
}

.intro-box {
  p {
    font-family: $medium;
    
      @include media(large) {
        font-size: 25px;
      }
  }
  a {
    border: none;
      @include media(large) {
        font-size: 21px;
      }
    }
}

.download-link {
  text-decoration: underline;
}

.download-size {
  color: #b9b9b9;
}

.tile--signpost {
  border-bottom: 6px solid #eaf0f7;
  &:hover {
    border-bottom: 6px solid $blue-mid;
  }
  h2 {
    display: inline;
  }
  p {
    margin-top: $half-spacing-unit;
  }
}

.dm-section {
  margin-bottom: $base-spacing-unit;
}

// Tables
table thead, table tbody td, table tbody td, table tbody th:after {
  border-color: #fdd045;
}

// Home
.home .header-main {
    background: $blue-mid;
}

.home {
  .tile--link {
    min-height: 120px;
    margin-bottom: $quarter-spacing-unit;
    
    @include media(large) {
      min-height: 170px;
    }
  }
}

.dm-intro-section {
  background: $blue-mid;
  margin-bottom: $base-spacing-unit;
  padding-top: $half-spacing-unit;
  padding-bottom: $half-spacing-unit;
  color: $white;

  @include media(large) {
    padding-top: $base-spacing-unit;
    padding-bottom: $base-spacing-unit;
  }
    .side-box {
      border-top: #9bb7d8 6px solid;
    }
    a {
      color: $white;
      border-color:$white;
   }
   .side-box-wrap {
    margin-top: $half-spacing-unit;

    @include media(large) {
         margin-top: 0;
    }

   }
 }

// Main Nav
.primary-nav {
    float: right;
    clear: none;
    margin-top: 7px;
  ul {
    list-style: none;
    margin: 0;
    text-align: left;
    padding-left: 0;
    .active {
      a {
        padding-right: 0;
        padding-bottom: 29px;
        border-bottom: 11px solid $white;

        @include media(medium) {
          padding-bottom: 49px;
        }
      }
    }
      li {
        display: inline-block;
        padding-right: 30px;
        padding-bottom: $quarter-spacing-unit;
          &:last-child {
            padding-right: 0;
          }
      }
  }
}


// Main comtent
.home .main {
  margin-top: 0;
}

//Feedback content
.feedback {
  margin-top: $half-spacing-unit*2;
  @include media(medium) {
    margin-top: $base-spacing-unit*2;
  }
}

#FeedbackForm {
  .h2 {
    padding-top: 0;
  }
  .tile {
    padding: 0;
    margin-bottom: 0;
  }
  .label {
    font-size: em-calc(16px);

    @include media(large) {
       font-size: em-calc(20px);
    }
  }
  .block-label input[type=radio], .block-label input[type=checkbox] {
    top: 19px;
  }
   .block-label {
    width: 50%;
    display: inline-block;
    margin-right: $eighth-spacing-unit;
    font-size: 16px;
    padding: 15px 47px;

    @include media(medium) {
      width: 118px;
      min-width: 118px;
      margin-right: $quarter-spacing-unit;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  .email {
    margin-bottom: $quarter-spacing-unit;
  }
}

.slide-toggle-content {
  outline: 0;
  display: none;
}

//Footer 
.footer-main {
  background-color: $grey-light;
  padding: $base-spacing-unit 0;
  .secondary-nav {
   
    @include media(medium) {
      text-align: right;
    }
    ul {
      margin-bottom: 0;
    }
    li { 
      margin-bottom: $quarter-spacing-unit;
      @include media(medium) {
        display: inline-block;
        margin-right: $half-spacing-unit;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      color: $text;
      border: none;
      text-decoration: underline;
    }
  }
}