// The start of tidying this
// design manual classes should now be prefixed with dm-

.dm-section {
  // A bit shoncky we really need an addition to the mixin to allow spacing larger than 64px (the base size)
  @include spacing('padding', 'bottom', 'half');
  @include spacing('margin', 'bottom', 'base');
}






// Guilty messy file

.list-heading {
  @include spacing('margin', 'bottom', 'quarter');
}

.tile--equal {
  min-height: 150px;
}

.col--right {
  float: right;
}

.header-design-manual {
  margin-top: $half-spacing-unit;
  border-bottom: 0;
}

.header-main .coop-logo,
.header-main .coop-logo-large {
  width: 36px;
  @include media(medium) {
    width: 68px;
  }
}

.info-banner--indent {
   padding-left: 0;
   @include media(medium) {
     padding-left: $half-spacing-unit;
   }
}

.info-banner--indent p {
  margin-left: .25em;
}

.example-grid-wrap {
  position: relative;
}

.example-grid {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% + 16px);
  height: 100%;

  @include media(medium) {
    width: calc(100% + 32px);
  }

  .column {
    position: relative;
    height: 100%;

    span {
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.1);
    }
  }
}

.example-baseline {
  position: absolute;
  left: 0;
  // accounts for lines
  top: -1px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #0dd 0, transparent 1px);
  background-repeat: repeat-y;
  background-size: 100% 8px;
}

.candidate {

  position: relative;
  padding: 3em 1em 1em 1em;
  margin-bottom: $base-spacing-unit;


  &:before {
    content: "Candidate";
    font-family: $medium;
    position: absolute;
    top: 0;
    left: 0;
    background: $info-orange;
    color: $white;
    padding: .25em;
  }
}

.published {

  position: relative;
  padding: 3em 1em 1em 1em;
  margin-bottom: $base-spacing-unit;


  &:before {
    content: "Published";
    font-family: $medium;
    position: absolute;
    top: 0;
    left: 0;
    background: $success-green;
    color: $white;
    padding: .25em;
  }
}

.example {
  @include clearfix();
  @include spacing('margin', 'bottom', 'half');
  position: relative;
  border: 1px solid $coop-border-grey;
}

.example--padded {
  @include spacing('padding', 'all', 'quarter');
}

.example-heading {
  font-family: $bold;
  font-size: em-calc(20px);
  padding-top: 3px;
  @include spacing('margin', 'bottom', 'quarter');
}

.example_label {
  @include spacing('margin', 'right', 'eighth');
  padding: .25em;
  font-family: $regular;
  background: $offwhite;
}

.example__bad {

  &:before {
    content: "Example";
    position: absolute;
    top: 0;
    left: 0;
    background: $saleerror-red;
    color: $white;
    padding: .25em;
  }
}


.grid-example {
  .row {

    .column {

      span {
        display: block;
        height: 100px;
        background: #00729A;

        span {
          display: block;
          height: 100px;
          background: #338EAE;
        }
      }
    }

  }
}

.large-1-5 {
  width: 12.5%;
}

.full-width-example {
  padding-left: 0;
  padding-right: 0;
  border-width: 1px 0;
  box-shadow: 0 0 2px rgba(0,0,0,.25);
}

.colour-swatch {
  @extend %boxed;

  margin-bottom: 0;
  border-bottom: 0;
  height: 5em;
}

.icons-list {
  @include clearfix;
  @include list-bare;

  @include media(small) {
    li {
      float: left;
      width: 50%;
      padding-right: 10px;

      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }

  @include media(medium) {
    li {
      width: 33%;

      &:nth-child(2n+1) {
        clear: none;
      }

      &:nth-child(3n+1) {
        clear: left;
      }
    }
  }

  @include media(xlarge) {
    li {
      width: 25%;

      &:nth-child(3n+1) {
        clear: none;
      }

      &:nth-child(4n+1) {
        clear: left;
      }
    }
  }

  .icon {
    color: $coop-blue;
  }
}

.body-copy {
  background-color: $body-copy;
}

.boxed--even {
  min-height: 230px;
}

.margin-rq {
  margin-right: $quarter-spacing-unit;
}

.logo-padding {
  width: 102px;
  padding: 30px 30px 30px 0;
  background: rgba(0,0,0,0.1);

  .coop-logo-large {
      height: 72px;
  }
}

.identifier {
  background: $white;
}

.identifier-padding {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: -18px;
    width: 155px;
    height: 68px;
    padding: 30px 20px 30px 30px;
    background: rgba(0,0,0,0.1);
  }

}

.header-row {
  border-bottom: 2px solid $coop-border-grey;
}

.back-to-top {
  display: inline-block;
  @include spacing('margin', 'top', 'half');
  @include spacing('margin', 'bottom', 'base');
}

.block {
  display: block;
}

.footer-main {
  padding-left: 0;
  @include media(medium) {
    padding-left: $half-spacing-unit;
  }
}

.baseline-h-mega,
.baseline-h1,
.baseline-h2,
.baseline-h345,
.baseline-h6,
.baseline-p {
  position: relative;
  @include spacing('margin', 'bottom', 'base');

  &:before {
    position: absolute;
    top: 0;
    left: 580px;
    display: block;
    font-family: $regular;
    padding: 2px;
    background: rgba(0,0,0,0.1);
  }

  &:after {
    position: absolute;
    left: 0;
    font-family: $regular;
    width: 360px;
    background: rgba(0,0,0,0.1);
  }

}

.baseline-h-mega {
  &:before {
    content: '72px';
    font-size: em-calc(6);
    height: 72px;
    top: 32px;
  }
  &:after {
    content: '64px';
    font-size: em-calc(6);
    height: 64px;
    bottom: -64px;
  }
}

.baseline-h1 {
  &:before {
    content: '64px';
    font-size: em-calc(6);
    height: 64px;

  }
  &:after {
    content: '32px';
    font-size: em-calc(6);
    height: 32px;
    bottom: -32px;
  }
}

.baseline-h2 {
  &:before {
    content: '40px';
    font-size: em-calc(8);
    height: 39px;
  }
  &:after {
    content: '8px';
    font-size: em-calc(8);
    height: 8px;
    bottom: -8px;
  }
}

.baseline-h345 {
  &:before {
    content: '32px';
    font-size: em-calc(9);
    height: 33px;
    top: 8px;
  }
  &:after {
    content: '8px top and bottom';
    font-size: em-calc(9);
    height: 8px;
    bottom: -8px;
  }
}

.baseline-h6 {
  &:before {
    content: '24px';
    font-size: em-calc(12);
    height: 24px;
    top: 16px;
  }
  &:after {
    content: '4px';
    font-size: em-calc(12);
    height: 4px;
    bottom: -4px;
  }
}

.baseline-p {
  &:before {
    content: '32px';
    font-size: em-calc(12);
    height: 32px;
    top: 0;
  }
  &:after {
    content: '32px';
    font-size: em-calc(12);
    height: 32px;
    bottom: -32px;
  }
}

.tile--link {
  display: block;
  color: $body-copy;
  @include spacing('margin', 'bottom', 'half');
}

.tile--link--block {
  // To suit my anal need to align to the grid correctly.
  position: relative;
  top: 2px;

  &:hover {
    border: 1px solid $coop-border-grey;
  }
}

.type-sizes {
  width: 1000px;
  table-layout: fixed;
  border-collapse: collapse;
  td, th {
    padding: 10px;
  }
  @include media(medium) {
    width: 100%;
  }
}

.td-half {
  width: 55%;
}

.border-bottom {
  border-bottom: 1px solid $coop-border-grey;
}

.browser-support {
  th,
  td {
    font-size: 1.25em;
  }
}

.no-underline {
    border-bottom: 0;
}

pre[class*="language-"] {
   @include spacing('margin', 'bottom', 'half');
}

.sprint-table {
  font-size: em-calc(20);

  td,
  th {
    vertical-align: top;
  }

  li {
    line-height: 1.6;
  }

  p,
  li {
    font-size: em-calc(12);
  }
}

// Forms
.content-nav {
  li {
    margin-top: $quarter-spacing-unit;
    margin-bottom: $quarter-spacing-unit;
      &:first-of-type {
        font-family: $bold;
        margin-top: 0;
      }
     }
}
.content-links li {
  margin-bottom: $quarter-spacing-unit;
}
.section-title {
  margin-top: $base-spacing-unit;
}
.example--padded {
  padding: $quarter-spacing-unit;
}
// Address
.date-of-birth-day, .date-of-birth-month, .date-of-birth-year {
  display: inline-block;
  margin-right: $quarter-spacing-unit;
}
.date-of-birth-day, .date-of-birth-month {
  width: 17%;
    @include media(large) {
       width: 15%;
    }
}
.date-of-birth-year {
  width: 30%;
    @include media(large) {
       width: 20%;
    }
}

// Error Validation
.hint {
  display: block;
  font-size: 16px;
  color: #6e6e6e;
  margin-bottom: 0;
}
.form-group-error {
  border-left: 2px solid $saleerror-red;
  padding-left: $half-spacing-unit;
}
.message-error {
  background-color: #fff;
  padding: $half-spacing-unit;
  border: 2px solid $saleerror-red;
   ul {
    color: $saleerror-red;
   }
}
.icon-alert:before, .form-error:before, .message-error:before {
  content: none;
}
.form-error {
  padding-left: 0;
}

// Form main
.inline-links li {
  display: inline-block;
  margin-right: $half-spacing-unit;
}
.section-link {
  font-family: $regular;
}

.content-nav {
	padding-left: 24px;
	border-left: 10px solid #00b1e7;
	li {
		margin-top: $quarter-spacing-unit;
		margin-bottom: $quarter-spacing-unit;
	   }
	   .content-title {
	   	font-family: $bold;
	   }
	   .active-content {
			font-family: $bold;
			margin-left: $eighth-spacing-unit;
	   }
	a {
			margin-left: $eighth-spacing-unit;
	}
}
.bottom-nav {
	border-left: 10px solid #00b1e7;
	li {
		&:first-of-type {
			font-family: $bold;
		}
	}
}
	.next-content {
		margin-bottom: $quarter-spacing-unit;
	}
.example-wrap {
	border: 1px solid #c4c4c4;
	padding: $quarter-spacing-unit;
}
.content-links li {
	margin-bottom: $quarter-spacing-unit;
}

 .form-row.inline {
 	display: inline-block;
 	margin-right: $quarter-spacing-unit;
 }
 .section-title {
 	margin-top: $base-spacing-unit;
 }

 .example--padded {
 	padding: $quarter-spacing-unit;
 }

.hint {
    font-size: 1rem;
    color: #6e6e6e;
    margin-top: 1.5px;
    display: block;
    font-family: "AvenirNextLTW01-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bottom-nav-wrap {
	border-top: 1px solid #e6e6e6;
	padding-top: $half-spacing-unit;
	padding-bottom: $half-spacing-unit;
}
