.guidance {
    .header-main {
        background-color: $purple-mid;    
    }

    .tile--link {
        border-bottom: 4px solid lighten($purple-mid, 50%);
        
        &:hover {
            border-bottom: 4px solid lighten($purple-mid, 40%);
       }
    }

    .breadcrumbs-wrap {
        background-color: lighten($purple-mid, 50%);
    }

}

.purple-mid-bl {
    border-left: 7px solid lighten($purple-mid, 50%);
  }

.purple-mid-bb {
    border-bottom: 2px solid lighten($purple-mid, 50%);
  }