.guidance {
    .header-main {
        background-color: $purple-mid;    
    }

    .tile--link {
        border-bottom: 6px solid #f6e8f3;
        margin-bottom: $base-spacing-unit;
        padding-bottom: $base-spacing-unit;
        
        @include media(medium) {
            margin-bottom: $half-spacing-unit;
        }
        h2 {
            font-size: 23px;
        }
        &:hover {
             border-bottom: 6px solid $purple-mid;
        }
    }
}
