.full-content-wrap {
  padding: 0 $half-spacing-unit;
}

.side-nav-list {
  margin-bottom: $quarter-spacing-unit;
  padding-left: 0;

  li {
    @include clearfix;
    overflow: hidden;
    display: block;
  }

}

.side-nav-list-link {
  font-size: 1em;
  position: relative;
  display: block;
  padding: .75em 5%;
  border-bottom: 0;
  color: $white;
  &:hover {
    color: $white;
    background: lighten(#2C3136, 5%);
    border-bottom: 0;
  }
}

.side-nav-list-link--active {
  background: lighten(#2C3136, 5%);
  box-shadow: inset 3px 0 0 $coop-blue;
}

.side-nav-list-sub {
  margin-bottom: 0;
  padding-left: 0;
  background: #1c1f22;
  padding-right: 0;
  padding-left: 0;
}

.side-nav-list-sub-link {
  font-size: 1em;
  display: block;
  padding: .75em 7.5%;
  color: $white;
  border-bottom: 1px solid #2C3136;

  &:hover {
    color: $white;
    background: lighten(#2C3136, 5%);
    border-bottom: 1px solid #2C3136;
  }

  @include media(medium) {
    font-size: .75em;
  }
}

.side-nav-list--section {
  padding: .5em 5% .25em 5%;
  text-transform: uppercase;
  margin-bottom: 0;
  color: darken($white, 30%);
}

.side-nav-list__parent {
  display: block;
  @include clearfix;
}

.side-nav-list-link-left {
  float: left;
  width: 190px;
}

.side-nav-list-link-toggle {
  margin: .75em 15px 5px 5px;
  padding: 5px;
  float: right;
  width: 33px;
  height: 33px;
}

.side-nav-list-link-toggle.toggle-trigger {
  font-size: 1.3em;
  color: $white;
  background: #2C3136;
  border: 1px solid $white;
  @include media(medium) {
    font-size: 1.05em;
  }
  &:hover {
    color: $coop-grey;
    background: $white;
  }
  &:active {
    color: $white;
    background: #2C3136;
  }
  &:after {
    font-size: 21px;
  }
}

.side-nav-list-link-toggle.toggle-trigger.init.open {
  color: $white;
  background: #2C3136;
  &:hover {
    color: $coop-grey;
    background: $white;
  }
}

.nav-trigger {
  @extend .icon;
  @extend .icon-menu;
  position: absolute;
  left: 0;
  top: 0;
  width: 54px;
  padding: $quarter-spacing-unit;
  line-height: .8;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: #2C3136;
  color: $white;
  -webkit-transition: none;
          transition: none;
  @include media(medium) {
    width: 62px;
    padding: 20px;
  }
  &:before {
    position: relative;
    top: -2px;
    font-size: em-calc(25px);
  }
  &:hover {
    border: 0;
    background: #2C3136;
    color: $white;
    box-shadow: none;
  }
  &:focus {
    border: 0;
    background: #2C3136;
    color: $white;
    outline: 4px solid #00bbe3;
    box-shadow: none;
  }

}

.nav-trigger.trigger-is--on {
  @extend .icon-close;
}

// Sidebar

.side-nav {
  position: absolute;
  top: 0;
  height: 100vh;
  height: 100%;
  z-index: 101;
  width: 250px;
  padding: 0 0 0;
  background-color: #2c3136;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
}


.app-content {
  -webkit-transition: .3s ease all;
          transition: .3s ease all;
}

.app-content.nav-is--open {
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
}
