.principles {
    .header-main {
        background-color: $green-blue-dark;    
    }
}

.green-blue-bl {
    border-left: 7px solid lighten($green-blue-dark, 60%);
  }

.green-blue-bb {
    border-bottom: 2px solid lighten($green-blue-dark, 60%); 
}
