.resources {
    .header-main {
        background-color: $yellow-mid;    
       .coop-logo svg, .coop-logo-large svg {
           fill: $black;
       }
       a {
           color: $black;
           border-color: $black;
       }
    }
   
    .border-sections section {
        border-color: #caebfd;
    }

}


.mid-yellow-bl {
    border-left: 7px solid lighten($yellow-mid, 40%);
  }

.mid-yellow-bb {
    border-bottom: 2px solid lighten($yellow-mid, 40%);
  }

