.rescources {
    .header-main {
        background-color: $yellow-mid;    
       .coop-logo svg, .coop-logo-large svg {
           fill: $black;
       }
       a {
           color: $black;
           border-color: $black;
       }
    }
    .highlight-banner {
        border: 2px solid #caebfd;
        padding: $base-spacing-unit;
        font-size: 20px;
            @include media(large) {
                padding-right: 300px;
            }
    }
    .rescources-intro {
        margin-bottom: $base-spacing-unit;
    }
    .in-page-nav {
        border-left: 6px #e8f2f2 solid;
    }
    .border-sections section {
        border-color: #caebfd;
    }
}
