.rescources {
    .header-main {
        background-color:#96d8fb;    
        .rescources {
            border-bottom: 10px solid #fff;
            padding-bottom: 50px;
        }
       .coop-logo svg, .coop-logo-large svg {
           fill: #000000;
       }
       a {
           color: #000000;
           border-color: #000000;
       }
    }
}
