.status {
  font-size: em-calc(12px);
  color: $page;
  padding: 5px 8px;
}

.status__link {
  border-bottom: 0;
  text-decoration: underline;
  color: $page;
  &:hover {
    color: $page;
    text-decoration: none;
  }
}

.status--alpha {
  background: #FF3333;
}

.status--beta {
  background: #FF9233;
}

.status--live {
  background: #1AA579;
}

h1 {
  .status {
    font-size: em-calc(10px);
    font-family: $medium;
    margin-left: $quarter-spacing-unit;
  }
}
