/*===============================================
Overrides
===============================================*/

h1, .h1, .alpha,
h2, .h2, .beta,
h3, .h3, .gamma,
h4, .h4, .delta,
h5, .h5, .epsilon,
h6, .h6, .zeta {
  // font-family: $medium;
}
