---
layout: default
id: tables
active: designing-tables
group: "inner-page"
---

<article class="wrap">
    {% include breadcrumbs.html %}
    <div class="row">
        <div class="column large-3 small-12 col--right side-box-wrap hide-small">
            {% include navigation/tables-navigation.html %}
        </div>
        <div class="column medium-7 small-12">
            <header>
                <h1>Designing tables</h1>
                <ul class="list-bare content-links in-page-nav">
                    <li><a href="#before-you-start">Before you start</a></li>
                    <li><a href="#content">Content</a></li>
                    <li><a href="#style">Style</a></li>
                </ul>
            </header>
            <section id="before-you-start" class="dm-section">
                <h2>Before you start</h2>
                <p>Like any type of content, start with user needs. Before you create a table, make sure it’s the right format for the information you’re presenting.</p>
                <h3>Use tables to present complex information</h3>
                <p>Tables are useful for showing information that can’t be laid out as a list and would be repetitive if written as a paragraph of text. Eye-tracking studies show that tables attract and hold a reader’s attention.</p>
                <h3>Answering the question &lsquo;it depends&rsquo;</h3>
                <p>This table answers the question "Do I get free treatment for my pet" with the answer “It depends what type of insurance you have”.
                </p>
                <table>
                  <caption>This table compares our Classic and Select Plus pet insurance</caption>
                  <thead>
                    <tr>
                      <th scope=“col”>Compare Pet Insurance</th>
                      <th scope=“col”>Classic</th>
                      <th scope=“col”>Select Plus</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th  scope=“row”>Vet fees cover</th>
                      <td>£2000</td>
                      <td>£5000</td>
                    </tr>
                    <tr>
                      <th  scope=“row”>Complementary treatment</th>
                      <td>£0</td>
                      <td>£750</td>
                    </tr>
                  </tbody>
                </table>
                <blockquote>
                    <p>&lsquo;When a site visitor asks a question to which your first answer is “it depends,” that’s a clue that you need a table. What it depends on becomes the left column of the table. The answer to the question for each site visitor’s situation becomes the right column.&rsquo;</p>
                    <cite>Ginny Redish - <a href="http://redish.net/books/item/5-letting-go-of-the-words-writing-web-content-that-works">Letting Go of the Words</a></cite>
                </blockquote>
                <h3>Don’t assume that people will look at every row</h3>
                <p>They will usually scan down the left side of the table until they find a cell that interests them and read across, jumping up to check column headings as they read the content in that row. Most of their attention will be on the left hand&nbsp;column.</p>
                <h3>Even a simple table takes effort to use</h3>
                <p>Remember that many people use screen magnification and need to zoom into the content to be able to read it. Without cell borders it may be hard for a reader to realise they are in a table — if there are lots of blank cells, or if the header (question) row or left hand column is not visually different to the answer cells. There’s no context to help them understand what they’re&nbsp;reading.</p>
                <blockquote>
                    <p>&lsquo;Tables get slightly more complex to look at and to deal with when the user needs to refer to the top row, the left column, and a cell within the table to find an answer. It’s sort of like finding a location on a map: You have to locate the longitude, the latitude, and the point where the lines intersect.&rsquo;</p>
                    <cite><a href="https://www.nngroup.com/">Nielsen Norman Group</a></cite>
                </blockquote>
                <h3>When not to use a table</h3>
                <p>If your table only has one column, use a bulleted list instead.</p>
                <p>If most of the content is the same (for example if there is the same value in every row or every column), don’t put it in a table. Try adding a framing paragraph before the table to explain what the things you are comparing have in common, before using the table to show how they are different.</p>
            </section>
            <section id="#name-title" class="dm-section">
                <h2 id="content">Content</h2>
                <p>In addition to the rules about using <a href="http://coop-design-manual.herokuapp.com/content.html#numbers-and-units">numbers and units</a>, there are some things to remember when creating content for a table.</p>
                <h3>Date and time</h3>
                <p class="bold">Maybe link to the content style guide for this....</p>
                <h3>Asterixis and footnotes</h3>
                <p>Try and avoid using asterixes and referring the user to footnotes outside the table as it breaks the reading flow.</p>
                <p>We’ll update the service manual when we’ve found a better way to reference content outside of a table without using footnotes.</p>
                <h3>Blank cells and zeros</h3>
                <p>Avoid blank cells as they can be confusing. It’s best to try and answer the question or explain why there isn’t a value that isn’t of the same type of the rest of the cells. (An exception to this is the top left cell in a table, which can be left blank.)</p>
                <p>A blank cell could be a sign that a table is not the right way to represent the information.</p>
                <p>In this example, boarding fees aren’t covered in the simple plan, so a blank cell is technically correct. However, it would be easy to read this table and think the boarding fees were free.</p>
                <div class="row">
                    <div class="column medium-10 large-8">
                        <h3 class="example-heading"><span class="example_label">Example</span> Goes here</h3>
                        <div class="example example--padded">
                            Example box.
                        </div>
                    </div>
                </div>
                <p>Answering the question is more helpful, and there’s less chance of misunderstanding.</p>
                <div class="row">
                    <div class="column medium-10 large-8">
                        <h3 class="example-heading"><span class="example_label">Example</span> Goes here</h3>
                        <div class="example example--padded">
                            Example box.
                        </div>
                    </div>
                </div>
                <p>Use a zero when the thing you are measuring does exist, but has a value of zero. For example:</p>
                <div class="row">
                    <div class="column medium-10 large-8">
                        <h3 class="example-heading"><span class="example_label">Example</span> Goes here</h3>
                        <div class="example example--padded">
                            Example box.
                        </div>
                    </div>
                </div>
                <p>The top left cell can be completely empty, although it must be marked up as an ordinary cell (<code class="language-html">&lt;td&gt;</code>) and not a column heading (<code class="language-html">&lt;th&gt;</code>). This is to make the table is understandable to people using screen readers.</p>
                <p>To learn more about tables and screen readers visit <a href="https://www.w3.org/WAI/tutorials/tables/two-headers/">www.w3.org/WAI/tutorials/tables/two—headers</a></p>
                <!-- <h3>Decimal places</h3>
                <p>The number of decimal places (the level of detail) should should reflect what the user can do with this information. The important thing is to be consistent throughout the table.</p>
                <p>Use a 0 where there’s no digit before the decimal point.</p>
                <h3>Money</h3>
                <p>The following guidance is from gov.uk:</p>
                <ul>
                    <li>Use the £ symbol: &pound;75</li>
                    <li>Don’t use decimals unless pence are included: &pound;75.50 but not &pound;75.00</li>
                    <li>Don’t use ‘&pound;0.xx million’ for amounts less than &pound;1 million</li>
                    <li>Write out pence in full: calls will cost 4 pence per minute from a landline</li>
                    <li>Currencies are lower case</li>
                </ul> -->
                <p class="bold">Question over whether we should include the generic content advice here or in the content style guide.</p>
                <h3>Repeated content</h3>
                <p>If you find that your table has content that is repeated in every cell in a row, consider pulling it out and presenting it before or after the table. This will reduce the size of your table and make it easier to scan.
                <div class="row">
                    <div class="column medium-10 large-8">
                        <h3 class="example-heading"><span class="example_label">Example</span> Goes here</h3>
                        <div class="example example--padded">
                            Example box.
                        </div>
                    </div>
                </div>
                <h3>Table headings</h3>
                <p>Every table needs a heading that describes what the table is for.</p>
                <p>This heading should appear directly above the table.</p>
                <div class="row">
                    <div class="column medium-10 large-8">
                        <h3 class="example-heading"><span class="example_label">Example</span> Goes here</h3>
                        <div class="example example--padded">
                            Example box.
                        </div>
                    </div>
                </div>
                <h3>Ticks and crosses</h3>
                <p>Approach ticks and crosses with caution. They can be helpful but need the correct markup (ARIA or alternate text tags) to be understood by people using screen readers.</p>
                <p>Consider using Yes or No, or answering the question (so that the content makes sense to someone who is using a screen magnifier).</p>
                <p>Don’t mix different types of content like ticks and numbers within the same column.</p>
                <h3>Word count</h3>
                <p>No more that 15 words per cell, and ideally far fewer.</p>
                <p>If your table is mostly text, consider laying it out as structured copy, as this will be easier to read and understand.</p>
                <p>Column headings should be as brief as possible — no more than five words.</p>
            </section>
            <section id="style" class="dm-section">
                <h2>Style</h2>
                <h3>Alignment</h3>
                <p>Column headings should align with the column content.
                <p>Text align left. Numbers align right (to maintain the order of magnitude). Do not centre any type of content — it is very hard to read. </p>
                <h3>Colour</h3>
                <p>Use colour when you need to make a distinction between one grouping of data from another. Examples of this are hover or selection interactions for rows or columns. When colour is used ensure there is sufficient contrast between colour and type. Make sure you’re familiar with the advice about designing for people with different access needs.</p>
                <p>void using zebra stripes for rows as this adds emphasis to the rows with colour where none is needed.</p>
                <h3>Decimal points</h3>
                <p>If there are decimal points, line them up. Consider whether rounding to a larger number (example: thousands) might meet user needs better.</p>
                <h3>Emphasis (bold)</h3>
                <p>At the risk of sounding obvious, use emphasis to show the reader what’s important. For example, it may or may not be appropriate to use emphasis on the row headings.</p>
                <p>For content within the table (excluding row and column headers) use emphasis only if it supports the user need is for that table and for the page as a whole.</p>
                <h3>Headings</h3>
                <p>The heading for the table will always be within the semantic context of a wider page. This means that the size of the table heading will be defined by the established typographic hierarchy (not by the table).</p>
                <h3>Rules (horizontal and vertical lines)</h3>
                <p>Avoid using vertical rules to separate columns or as a table border; they add visual clutter. </p>
                <p>Use horizontal rules to help the user scan rows. Use a heavier rule to separate column headers from the column content.</p>
                <p>There’s more information about how to use rules in tables that respond to different screen sizes: Responsive design.</p>
                <h3>Typography</h3>
                <p>Use a maximum of 3 type sizes in a table. More than this can create visual noise. Within a row, cell content should be aligned on the same top baseline, irrespective of differing amounts of content per cell.</p>
                <div class="row">
                    <div class="column medium-10 large-8">
                        <h3 class="example-heading"><span class="example_label">Example</span> DM goes here for linked too</h3>
                        <div class="example example--padded">
                            Example box.
                        </div>
                    </div>
                </div>
                <p>Ideally, column and row headings are the same type size as rest of the table content.
                On mobile retain the emphasis used for desktop and tablet.</p>
                <h3>Vertical and horizontal space</h3>
                <p>The width of a table and its columns should be appropriate to the content. A table shouldn’t have to be as wide as the available space — if it is, it may be too large for the content.</p>
                <p>Don’t define heights of rows — let them be the height they need to be. Use percentages to define widths of cells.</p>
            </section>
            <div class="related-footer">
                <h3 class="h2">More about tables</h3>
                <ul class="list-bare content-links">
                    <li><a href="table-patterns.html">Table patterns</a></li>
                    <li><a href="code-standards.html">Code standards</a></li>
                </ul>
            </div>
        </div>
    </div>
</article>
