---
layout: default
id: tables
active: table-patterns
group: "inner-page"
---

<article class="wrap">
    {% include breadcrumbs.html %}
    <div class="row">
        <div class="column large-3 small-12 col--right side-box-wrap hide-small">
            {% include navigation/tables-navigation.html %}
        </div>
        <div class="column medium-7 small-12">
            <header>
               <h1>Table patterns</h1>
               <ul class="list-bare content-links in-page-nav">
                    <li><a href="#name-title">Link</a></li>
                </ul>
            </header>
            <section id="#name-title" class="dm-section">
                <h3 id="name-title">Section title</h3>
                <p>Text.</p>
                <div class="row">
                    <div class="column medium-10 large-8">
                        <h3 class="example-heading"><span class="example_label">Example</span></h3>
                        <div class="example example--padded">
                            Example box.
                        </div>
                    </div>
                </div>
            </section>
            <div class="related-footer">
                <h3>More about tables</h3>
                <ul class="list-bare content-links">
                    <li><a href="designing-tables.html">Designing tables</a></li>
                    <li><a href="code-standards.html">Code standards</a></li>
                </ul>
            </div>
        </div>
    </div>
</article>
