---
layout: default
id: guidance
body-page-class: dm-dark
---
{% include breadcrumbs.html %}
<article class="wrap">
    <header>
        <div class="row">
            <div class="column small-12">
                <h1>Grid</h1>
                <div class="highlight-banner purple-mid-b m-bh-med-b">
                    <p>We use a grid to structure our designs. Just like the <a href="/styles/typography.html">typography and vertical spacing</a> we use, our grid allows the creation of a consistent horizontal space.</p>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="column medium-4 small-12 fixedsticky">
            <nav>
                <ul class="list-bare in-page-nav">
                    <li><a href="#grid">Grid</a></li>
                    <li><a href="#centering">Centering columns</a></li>
                    <li><a href="#offest">Offsetting columns</a></li>
                    <li><a href="#re-order">Re-ordering columns</a></li>
                    <li><a href="#collapsed">Collapsed columns</a></li>
                    <li><a href="#code">More information</a></li>
                </ul>
            </nav>
        </div>
        <div class="column medium-8 small-12">
            <section id="grid" class="dm-section">
                <h2>Grid</h2>
                <p>Our grid has 12 columns that can be used in various combinations. It has gutters of 32px above 768px and 16px below 768px. We recommend its use because it has been designed to suit <a href="/styles/typography.html">our typography</a>.</p>
                <h3>Viewport sizes</h3>
                <p>The grid column widths can be changed using css classes. The default widths we use are:</p>
                <ul>
                    <li>All: 0px and up &mdash; (all-{column-span})</li>
                    <li>Extra small: 320px and up &mdash; (.xsmall-{column-span})</li>
                    <li>Small: 480px and up &mdash; ((.small-{column-span})</li>
                    <li>Medium: 750px and up &mdash; ((.medium-{column-span})</li>
                    <li>Large: 960px and up &mdash; ((.large-{column-span})</li>
                    <li>Extra large: 1300px and up &mdash; ((.xlarge-{column-span})</li>
                </ul>
                <h3 class="example-heading"><span class="example_label">Example</span></h3>
                {% include components/grid/grid.hbs %}
                <p><a href="https://coop-design-system.herokuapp.com/components/detail/grid--default.html">See the code for the grid</a></p>
            </section>
            <section id="centering" class="dm-section">
                <h2>Centering columns</h2>
                <p>Columns can be set to centred or uncentered at different viewport sizes.</p>
                {% include components/grid/grid--centered.hbs %}
                <p><a href="https://coop-design-system.herokuapp.com/components/detail/grid--centered.html">See the code for the centered grid</a></p>
            </section>
            <section id="offest" class="dm-section">
                <h2>Offsetting columns</h2>
                <p>Columns can be offset by a specified amount of columns from the left hand side.</p>
                {% include components/grid/grid--offset.hbs %}
                <p><a href="https://coop-design-system.herokuapp.com/components/detail/grid--offset.html">See the code for the offset grid</a></p>
            </section>
            <section id="re-order" class="dm-section">
                <h2>Re-ordering columns</h2>
                <p>Columns can be re-ordered by pushing and pulling them relative to their base position.</p>
                {% include components/grid/grid--push-pull.hbs %}
                <p><a href="https://coop-design-system.herokuapp.com/components/detail/grid--push-pull.html">See the code for re-ordering columns</a></p>
            </section>
            <section id="flush" class="dm-section">
                <h2>Collapsed columns</h2>
                <p>Collapsed columns have their padding removed. Columns can be collapsed individually, or whole rows can be collapsed at once by adding the class .collapse to a column or row.</p>
                {% include components/grid/grid--collapse.hbs %}
                <p><a href="https://coop-design-system.herokuapp.com/components/detail/grid--collapse.html">See the code for collapsing the grid</a></p>
            </section>
            <section id="code" class="dm-section">
                <h2>More information</h2>
                <p>For more information on using the grid, see the <a href="https://github.com/coopdigital/coop-frontend-toolkit">front-end toolkit code</a>, try it out using the <a href="https://github.com/coopdigital/coop-prototyping-kit">prototyping kit</a> or see the <a href="https://codepen.io/collection/naJoNd/">grid collection on Codepen</a></p>
            </section>
        </div>
    </div>
</article>
