<footer>

    <div class="panel--grey">
        <!-- footer utility navigation -->
        <nav class="row  nav-footer">
            <div class="xlarge-6  large-6  medium-12  small-12  columns">
                <ul class="nav  nav-footer-utility">
                    <li><a class="nav-footer_link" href="http://www.co-operative.coop/terms/privacy-policy/" title="Read our privacy policy" rel="nofollow">Privacy policy &amp; Cookies</a></li>
                    <li><a class="nav-footer_link" href="http://www.co-operative.coop/terms/" title="Read our terms and conditions" rel="nofollow">Terms &amp; conditions</a></li>
                    <li><a class="nav-footer_link" href="http://www.co-operative.coop/accessibility/" title="Making our websites for everyone" rel="nofollow">Accessibility</a></li>
                    <!-- <li><a href="#" title="">Site map</a></li> -->

                </ul>
            </div>
            <div class="xlarge-6  large-6  medium-12  small-12  columns">
                <span class="nav-footer-colophon">
                    Copyright &copy; Co-operative Group Limited. All rights reserved.
                <span>
            </div>
        </nav>
        <!-- /footer utility navigation -->
    </div>

</footer>
