/*------------------------------------*\
   $Globals
\*------------------------------------*/

body {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: $base-line-height;
  color: $coop-grey;
  font-family: $regular;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  margin-top: $half-spacing-unit;
}

.main--sticky {
  margin-top: $base-spacing-unit*1.5;

  @media #{$large} {
    margin-top: $half-spacing-unit;
  }

}