/*------------------------------------*\
   $Breadcrumbs
\*------------------------------------*/

.breadcrumbs {
  padding: $quarter-spacing-unit / 2;
  color: $coop-grey;
  background: $offwhite;
  margin-bottom: 0; 

  li {
    display: inline;
    list-style: none;
    font-size: emCalc(14px);

    &:after {
      position: relative;
      top: 1px;
      font-family: 'coopicons';
      content: '\e608';
      font-size: 1em;
      padding: 5px;
    }

    a {
      color: $coop-grey;
      border-bottom: 0;
    }

  }

  .active {
    font-family: $bold;

    &:after {
      content: '';
    }

  }

}
