<!-- Skip nav -->
<div class="skip-nav">
  <ul>
    <li><a accesskey="c" href="#main" title="Skip to main content">Skip to content</a></li>
    <li><a accesskey="n" href="#navigation" title="Skip to primary navigation">Skip to navigation</a></li>
  </ul>
</div>
<!-- /Skip nav -->

<!-- Membership Header -->
<div class="coop-membership-header">
  <div class="row">
    <div class="small-12  columns">
      <div class="coop-membership-header--inner">
        <a href="#" class="coop-membership-header--link">Become a Member</a>
      </div>
    </div>
  </div>
</div>
<!-- /Membership Header -->

<!-- Header -->
<div class="coop-header-wrap">

  <div class="row">

    <div class="small-12  columns">

      <header role="banner" class="coop-header">

        <div class="coop--header_logo">

          <a aria-label="Homepage" href="/">

            {% include logo.html %}

            <!--<![endif]-->

            <!-- The fallback PNG for browsers that do not support SVG -->
            <!--[if lte IE 8]>
              <div class="fallback-image"><span class="show-for-sr">The Co-op - Home</span></div>
            <![endif]-->

          </a>

        </div>

        <a href="/" tabindex="-1" class="coop-header_identifier">Style Guide</a>

        <a href="#" role="button" aria-label="Open Main Menu" aria-haspopup="true" aria-owns="nav--primary"  id="primary-trigger" class="mobile-menu-toggle  mobile-menu-toggle--right"><span class="icon  icon-menu" aria-hidden="true"></span> <span class="mobile-menu-text">Menu</span></a></a>

        <!-- <a href="#" role="button" aria-label="Find a store" aria-haspopup="true" aria-owns="store-finder" id="storefinder-toggle" class="storefinder-toggle  storefinder-toggle--identifier"><span class="icon  icon-location-alt" aria-hidden="true"></span> Find <span class="hide">a store</span></a> -->


        <!-- <div id="store-finder" class="store-finder">

          <form class="store-finder_form" action="" role="search">

              <label class="store-finder_form--label" for="findastore">Find a store</label>

              <input id="findastore" class="input  input--large  store-finder_form--input" type="search" placeholder="Enter your postcode..." autocomplete="off">

              <a href="#clear" aria-label="Clear Search Input" class="clear-input">Clear</a>
              <button aria-label="Go Search" class="coop-btn">Find</button>
              <a href="" class="location"> Use my location</a>

          </form>

        </div> -->

      </header>

    </div>

  </div>

</div>
<!-- /Header -->

<!-- Primary Navigation -->

<div id="nav-wrap" class="nav-wrap">

  <div class="row">

    <div class="small-12 columns">

      <nav id="navigation">

          <div class="primary-wrap">

            <ul id="nav--primary" class="nav  nav--primary">
              <li><a href="index.html" class="nav--primary_link  nav--primary_link-standout{% if page.id == 'index' %} nav--primary_link-current{% endif %}">Design elements</a></li><li>
              <a href="standards.html" class="nav--primary_link  nav--primary_link-standout{% if page.id == 'standards' %} nav--primary_link-current{% endif %}">Code standards</a></li><li><a href="about.html" class="nav--primary_link  nav--primary_link-standout{% if page.id == 'about' %} nav--primary_link-current{% endif %}">About</a></li>
            </ul>

          </div>

      </nav>

    </div>

  </div>

</div>

<!-- /Primary Navigation -->
