---
layout: default
id: content-level-2
body-page-class: dm-dark
---

<article class="coop-l-wrap">
{% include breadcrumbs.html %}
{% for page in site.data.contentful.spaces.design-system-content.page %}
    {% if page.sys.id == '7kofk9MtaxOfFOwxfcGvjj' %}
    <header>
        <div class="coop-l-row">
            <div class="coop-l-column coop-l-medium-8 coop-l-small-12 intro-box">
                <h1>{{ page.title }}</h1>
                <div class="highlight-banner m-bh-med-b">
                    {{ page.introduction | markdownify }}
                </div>
            </div>
        </div>
    </header>
    <div class="fixedsticky fixedsticky--horz">
        <nav>
            <ul class="in-page-nav in-page-nav--horz">
                {% for item in page.in_page_navigation %}
                <li><a href="#{{ item.section_id }}">{{ item.url_text }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="coop-l-row">
        <div class="coop-l-column coop-l-medium-8 coop-l-small-12">
            <section class="ds-section">
                {{ page.content | markdownify }}
            </section>
        </div>
    </div>
    {% endif %}
{% endfor %}
</article>
