/*------------------------------------*\
    $Admin navigation
\*------------------------------------*/

.sub-nav {
  @include clearfix;
  margin-bottom: $half-spacing-unit;
  border-radius: 5px;
  li { 
    float: left;
    border-bottom: 1px solid $coop-border-grey;   
  }
  .sub-nav__right {
    float: right;
    border-bottom: 0; 
  }
  a {
    float: left;
    padding: $quarter-spacing-unit;
    color: $coop-grey;
    border-bottom: 0;
    font-size: em-calc(19px);
    transition: width 300ms;
    position: relative;

    &:after {
      background-color: $coop-grey;
      bottom: -3px;
      content: "";
      height: 3px;
      left: 0;
      position: absolute;
      width: 0px;
      transition: width 150ms;
    }

    &:hover {
      color: $coop-grey;
      border-bottom: 0px transparent;

      &:after {
        width: 100%;
      }
    }
  
    &.is--current {
      color: $coop-link-blue;

      &:after {
        background-color: $coop-blue;
        bottom: -3px;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        width: 100%;
        transition: width 300ms;
      }

    }
  }
  // .sub-nav__link-primary {
  //   float: right;
  //   color: $white;
  //   border-bottom: 0;
  //   background: $green;

  //   &:after {
  //     display: none;
  //   }

  //   &:hover {
  //     color: $white;
  //     background: $green-hover;
  //     border-bottom: 0;
  //   }
  // }
}

.sub-nav-wrap {
  @include clearfix;
  // background: $white;
  //margin-bottom: $quarter-spacing-unit;
} 