.back-to-top {
  font-size: .625em;
}

.example {
  @extend %boxed;

  position: relative;
  padding-top: 3em;
  margin-bottom: 2em;

  &:before {
    content: "Example";
    position: absolute;
    top: 0;
    left: 0;
    background: $offwhite;
    padding: .25em;
  }
}

.grid-example .column > code {
  display: block;
  min-height: 6em;
  margin-bottom: 1em;
  background: $added-to-page;
}

.full-width-example {
  padding-left: 0;
  padding-right: 0;
  border-width: 1px 0;
  box-shadow: 0 0 2px rgba(0,0,0,.25);
}

.colour-swatch {
  @extend %boxed;

  margin-bottom: 0;
  border-bottom: 0;
  height: 3em;
}

.icons-list {
  @include clearfix;
  @include list-bare;

  @include media(small) {
    li {
      float: left;
      width: 50%;
      padding-right: 10px;

      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }

  @include media(medium) {
    li {
      width: 33%;

      &:nth-child(2n+1) {
        clear: none;
      }

      &:nth-child(3n+1) {
        clear: left;
      }
    }
  }

  @include media(xlarge) {
    li {
      width: 25%;

      &:nth-child(3n+1) {
        clear: none;
      }

      &:nth-child(4n+1) {
        clear: left;
      }
    }
  }

  .icon {
    color: $coop-blue;
  }
}
