.back-to-top {
  font-size: .625em;
}

.logo {
  margin: 0 0 $quarter-spacing-unit;
}

.icons-list {
  margin-bottom: 10px;

  p {
    margin-bottom: 10px;
  }

  .icon {
    color: $coop-blue;
    display: inline-block;
    margin: 0 10px 10px 0;
  }
}

.icon-sizes {
  .icon {
    color: $coop-blue;
  }
}

.colour-swatch {
  @extend %boxed;

  margin-bottom: 0;
  border-bottom: 0;
  height: 3em;
}

.example {
  @extend %boxed;

  position: relative;
  padding-top: 3em;
  margin-bottom: 2em;

  &:before {
    content: "Example";
    position: absolute;
    top: 0;
    left: 0;
    background: $offwhite;
    padding: .25em;
  }
}

.grid-example .column > code {
  display: block;
  min-height: 6em;
  margin-bottom: 1em;
  background: $added-to-page;
}

.full-width-example {
  padding-left: 0;
  padding-right: 0;
  border-width: 1px 0;
  box-shadow: 0 0 2px rgba(0,0,0,.25);
}
