$base-asset-url: '/assets/';

@import 'coop-frontend-toolkit/styles/coop-toolkit';

@import 'design-manual/design-manual';
@import 'design-manual/navigation';
@import 'design-manual/prism';

.content-nav {
	//border-left: 10px solid #00b1e7;
	//padding-left: 24px;
	li {
		margin-top: $quarter-spacing-unit;
		margin-bottom: $quarter-spacing-unit;
		&:first-of-type {
			font-family: $bold;
			font-size: 26px;
		}
	   }
	   .content-title {
	   	font-family: $bold;
	   }
	   .active-content {
			margin-top:0;
			//font-family: $bold;
			//margin-left: $quarter-spacing-unit;
	   }
	a {
			//margin-left: $quarter-spacing-unit;
	}
}
.bottom-nav {
	border-left: 10px solid #00b1e7;
	li {
		&:first-of-type {
			font-family: $bold;
		}
	}	
}
	.active-content:after {
		//content: '\e608';
		//font-family: 'coopicons';
        //speak: none;
   	    //font-style: normal;
   	    //font-weight: normal;
    	//font-variant: normal;
    	//text-transform: none;
    	//line-height: 1;
    	//-webkit-font-smoothing: antialiased;
    	//-moz-osx-font-smoothing: grayscale;
    	//vertical-align: middle;
    	//padding-left: $eighth-spacing-unit;
	}
	.next-content {
		margin-bottom: $quarter-spacing-unit;
	}
.example-wrap {
	border: 1px solid #c4c4c4;
	padding: $quarter-spacing-unit;
}
.content-links li {
	margin-bottom: $quarter-spacing-unit;
}

 .form-row.inline {
 	display: inline-block;
 	margin-right: $quarter-spacing-unit;
 }
 .section-title {
 	margin-top: $base-spacing-unit;
 }

 .example--padded {
 	padding: $quarter-spacing-unit;
 }

.hint {
    font-size: 1rem;
    color: #6e6e6e;
    margin-top: 1.5px;
    display: block;
    font-family: "AvenirNextLTW01-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bottom-nav-wrap {
	border-top: 1px solid #e6e6e6;
	padding-top: $half-spacing-unit;
	padding-bottom: $half-spacing-unit;
}
.top-level a {
	margin-left: 0;
	color: #282828;
	text-decoration: none;
	border-bottom: none;
}
.update {
	color: #fff;
	background-color: #00a500;
	border-radius: 1px;
	margin-left: $eighth-spacing-unit;
	font-size: 14px;
		padding: 4px 8px;
		font-family: $regular;
		vertical-align: middle;
}