// Begin to depcriate this file and all the SCSS within
// This is a transition hack job....

/* Mixins */
@import "node_modules/@coopdigital/coop-frontend-foundations/mixins/functions";
@import "node_modules/@coopdigital/coop-frontend-foundations/mixins/utilities";
@import "node_modules/@coopdigital/coop-frontend-foundations/mixins/grid";
//@import "node_modules/@coopdigital/coop-frontend-foundations/mixins/typography";
@import "node_modules/@coopdigital/coop-frontend-foundations/mixins/links";
// @import "node_modules/@coopdigital/coop-frontend-foundations/mixins/buttons";
@import "node_modules/@coopdigital/coop-frontend-foundations/mixins/forms";

/* Utilities */
@import "node_modules/@coopdigital/coop-frontend-foundations/utilities/layout";
@import "node_modules/@coopdigital/coop-frontend-foundations/utilities/colour";

/* Foundations */
@import "node_modules/@coopdigital/coop-frontend-foundations/foundations/global";
@import "node_modules/@coopdigital/coop-frontend-foundations/foundations/grid";
@import "node_modules/@coopdigital/coop-frontend-foundations/foundations/typography";
@import "node_modules/@coopdigital/coop-frontend-foundations/foundations/logo";
@import "node_modules/@coopdigital/coop-frontend-foundations/foundations/links";
@import "node_modules/@coopdigital/coop-frontend-foundations/foundations/buttons";
@import "node_modules/@coopdigital/coop-frontend-foundations/foundations/forms";
@import "node_modules/@coopdigital/coop-frontend-foundations/foundations/tables";

@import 'design-system/design-system';
@import 'design-system/navigation';
@import 'design-system/prism';
@import 'design-system/themes';
@import 'design-system/hero';
@import 'design-system/card';
@import 'design-system/signpost';
@import 'design-system/status';
@import 'design-system/demo';
@import 'design-system/states';
@import 'design-system/messages';
@import 'design-system/toolkit-overrides';

// Pattern library
@import 'pattern-library/example';
@import 'pattern-library/pills';
@import 'pattern-library/code';

.coop-logo {
  border-bottom: 0;
}

// HACKS
.coop-form__input:focus,
input[type="text"]:focus,
.coop-form__input:focus,
textarea:focus,
.coop-form__textarea:focus {
    outline: 2px dotted #EABD3E;
}

.coop-c-checkbox-radio__input {
  top: 1.7rem !important;
}

.coop-c-checkbox-radio__label.is--checked {
  border: 2px solid #00B1E7;
  background: #FFFFFF;
}

input[type="search"] {
    box-sizing: border-box;
}

.coop-c-search__button {
    height: 66px;
}
