@import 'node_modules/@coopdigital/coop-frontend-foundations/coop-foundations';

@import 'design-system/design-system';
@import 'design-system/navigation';
@import 'design-system/prism';
@import 'design-system/themes';
@import 'design-system/hero';
@import 'design-system/card';
@import 'design-system/signpost';
@import 'design-system/status';
@import 'design-system/demo';
@import 'design-system/states';
@import 'design-system/messages';
@import 'design-system/toolkit-overrides';

// Pattern library
@import 'pattern-library/example';
@import 'pattern-library/pills';
@import 'pattern-library/code';

.coop-logo {
  border-bottom: 0;
}

// HACKS
.coop-form__input:focus,
input[type="text"]:focus,
.coop-form__input:focus,
textarea:focus,
.coop-form__textarea:focus {
    outline: 2px dotted #EABD3E;
}

input[type="search"] {
    box-sizing: border-box;
}

.coop-c-search__button {
    height: 66px;
}
