$base-asset-url: '/assets/';

@import 'coop-frontend-toolkit/styles/coop-toolkit';
@import 'design-manual/design-manual';
@import 'design-manual/design-manual-v2';
@import 'design-manual/navigation';
@import 'design-manual/prism';
@import 'design-manual/themes';
@import 'design-manual/hero';
@import 'design-manual/states';
@import 'design-manual/toolkit-overrides';
