/* Transition to this native CSS using postCSS */
@import 'css-foundations/dist/foundations.css';

/* Components */
@import 'component-search/src/component.css'; 
@import 'component-checkbox/dist/checkbox.css';
