/*------------------------------------*\
   $Current Utility Footer
\*------------------------------------*/

.nav-footer {
  @include clearfix;
  margin-bottom: 0;

  .nav-footer-utility {
    padding-left: 0;
    margin-bottom: 0;
  }

  .nav-footer-colophon {
    display: block;
    width: 100%;
    padding: $quarter-spacing-unit / 2;
    font-size: emCalc(12px);
    color: $black;
    text-align: left;

    @media #{$large} {
      text-align: right;
    }

  }

  li {
    display: block;
    width: 100%;

    @media #{$large} {
      display: inline;
    }

  }
  
  .nav-footer_link {
    padding: $quarter-spacing-unit $quarter-spacing-unit / 2;
    font-size: emCalc(12px);
    border: 0;

    &:hover {
      text-decoration: underline;
    }

    @media #{$large} {
      padding: $quarter-spacing-unit / 2;
    }

  }

}


// Sticky footer 
// New browsers and will need to be implemented per project due 
// to the height value required. 

.main--sticky-footer {
  min-height: 100%;
  // equal to footer height
  margin-bottom: -33px; 

  &:after {
    content: '';
    display: block;
  }

}

.footer--sticky, 
.main--sticky-footer {
  height: 33px; 

  &:after {
    content: '';
    display: block;
  }

}
