---
layout: default
id: assets
body-page-class: dm-dark
---
<article class="coop-l-wrap">
    {% include breadcrumbs.html %}
    {% for page in site.data.contentful.spaces.design-system-content.landingPage %}
        {% if page.sys.id == '4vQeNl83y8WyeGAcU60wOU' %}
        <header>
            <div class="coop-l-row">
                <div class="coop-l-column coop-l-medium-8 coop-l-small-12 intro-box">
                    <h1>{{ page.title }}</h1>
                    <div class="highlight-banner m-bh-med-b">
                        {{ page.introduction | markdownify }}
                    </div>
                </div>
            </div>
        </header>
        <section class="ds-section">
            {{ page.content | markdownify }}
        </section>
        {% endif %}
    {% endfor %}
    </article>
</article>
