---
layout: default
id: content-design-principles
body-page-class: dm-dark
---

<article class="coop-l-wrap">
    {% include breadcrumbs.html %}
    {% for page in site.data.contentful.spaces.design-system-content.page %}
        {% if page.sys.id == '6pZ7nCcL9mQoE0SEO8QW6' %}
        <header>
            <div class="coop-l-row">
                <div class="coop-l-column coop-l-medium-8 coop-l-small-12 intro-box">
                    <h1>{{ page.title }}</h1>
                    <div class="highlight-banner m-bh-med-b">
                        {{ page.introduction | markdownify }}
                    </div>
                </div>
            </div>
        </header>
        <!-- <div class="coop-l-row">
            <div class="coop-l-column coop-l-medium-3 coop-l-small-12 fixedsticky">
                <p class="bold">We:</p>
                <nav>
                    <ul class="coop-list-bare in-page-nav">
                        {% for item in page.in_page_navigation %}
                        <li><a href="#{{ item.section_id }}">{{ item.url_text }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="coop-l-column coop-l-medium-8 coop-l-medium-offset-1 coop-l-small-12">
                <section class="ds-section">
                    {{ page.content | markdownify }}
                </section>
            </div>
        </div> -->
        {% endif %}
    {% endfor %}
</article>

<!-- <article class="wrap">
    {% include breadcrumbs.html %}
    <div class="principles-intro m-bh-med-b">
        <header>
            <div class="row">
                <div class="column medium-8 small-12 intro-box">
                    <h1>Content design principles <span class="status status--alpha"><a href="/process.html" class="status__link">Alpha</a></span></h1>
                    <div class="highlight-banner m-bh-med-b">
                        <p>We’ve created these principles to help service teams understand what we do, what our role is, and how we work with our colleagues in Co-op.</p>
                        <p>We:</p>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="row">
        <div class="column medium-4 small-12 fixedsticky">
            <p class="bold">Content designers:</p>
            <nav>
                <ul id="in-page-nav" class="list-bare in-page-nav">
                  <li><a href="#more-than-write">do more than write</a></li>
                  <li><a href="#always-ask-why">always ask why</a></li>
                  <li><a href="#dont-focus-on-our-own-opinion">don’t focus on our own opinion </a></li>
                  <li><a href="#champion-simplicity">champion simplicity </a></li>
                  <li><a href="#dont-take-things-at-face-value">don’t take things at face value</a></li>
                  <li><a href="#make-decisions-based-on-evidence">make decisions based on evidence</a></li>
                  <li><a href="#measure-whats-useful">measure what’s useful</a></li>
                  <li><a href="#are-open-to-constructive-feedback">are open to constructive feedback</a></li>
                  <li><a href="#make-content-visible-early-on">make content visible early on</a></li>
                  <li><a href="#dont-take-things-personally">don’t take things personally</a></li>
                </ul>
            </nav>
        </div>
        <div class="column medium-8 small-12">
            <section id="more-than-write" class="m-tb-med-x margin-bb padding-bh">
                <h2>Do more than write</h2>
                <p>We work with researchers, designers, and stakeholders to create services that people need &mdash; and it’s our task to decide how best to communicate information within that service.</p>
            </section>
            <section id="always-ask-why" class="margin-bb padding-bh">
                <h2>Always ask why</h2>
                <p>Content designers ask lots of questions. It’s so we can surface the right content, at the right time, and the right place.</p>
            </section>
            <section id="dont-focus-on-our-own-opinion" class="margin-bb padding-bh">
                <h2>Don’t focus on our own opinion</h2>
                <p>The people we design for tell us how and what to write. That’s why it’s important we respect their needs.</p>
            </section>
            <section id="champion-simplicity" class="margin-bb padding-bh">
                <h2>Champion simplicity</h2>
                <p>We’ve learned that more isn’t always better and less isn’t always clearer.</p>
            </section>
            <section id="dont-take-things-at-face-value" class="margin-bb padding-bh">
                <h2>Don’t take things at face value</h2>
                <p>We test our assumptions, always.</p>
            </section>
            <section id="make-decisions-based-on-evidence" class="margin-bb padding-bh">
                <h2>Make decisions based on evidence</h2>
                <p>This is how we avoid pushing content to people that don’t need or want it.</p>
            </section>
            <section id="measure-whats-useful" class="margin-bb padding-bh">
                <h2>Measure what’s useful</h2>
                <p>We only collect data based on what we need to improve products and services.</p>
            </section>
            <section id="are-open-to-constructive-feedback" class="margin-bb padding-bh">
                <h2>Are open to constructive feedback</h2>
                <p>We want our colleagues to approach and challenge us. That’s how we build better products and services.</p>
            </section>
            <section id="make-content-visible-early-on" class="margin-bb padding-bh">
                <h2>Make content visible early on</h2>
                <p>It’s an opportunity to get everyone’s feedback and make the content visible to the whole team.</p>
            </section>
            <section id="dont-take-things-personally" class="margin-bb padding-bh">
                <h2>Don’t take things personally</h2>
                <p>It’s just content, and that’s why we should be kind to each other &mdash; and our own work.</p>
            </section>
        </div>
    </div>
</article> -->
