<article class="card">
    <a href="#" class="card__link">
        <div class="card__content">
            <h3 class="card__title">We’re celebrating LGBT history&nbsp;month</h3>
            {{> @paragraph }}
        </div>
    </a>
</article>
