/*===============================================
Heros
===============================================*/

.ds-hero {
  padding-top: 60px;
  overflow: hidden;
  margin-bottom: 0;

  @include media(xlarge) {
    margin-bottom: 32px;
  }
}


.dm-main-hero__title {}

.dm-main-hero__intro {
  font-size: em-calc(20px);

  @include media(large) {
    font-size: em-calc(25px);
  }
}

.highlight-banner {
  font-size: 20px;

  .highlight-banner__text:last-child {
    margin-bottom: 0;
  }
}

.principles-intro {
  margin-bottom: $base-spacing-unit;
}

.ds-hero__squircle {
  position: absolute;
  width: 270%;
  right: -230%; 
  top: -220vw; /* position top based on screen width */
  z-index: -1;
  fill: #FED132;

  // @include media(medium) {
  //   right: -80%;
  //   width: 200%;
  //   bottom: 0; /* lock to bottom of content */
  //   top: -200vw;
  // }

  @include media(large) {
    width: 248%;
    right: -180%;
    top: -200vw;
  }

  @include media(xlarge) {
    width: 248%;
    right: -180%;
    top: -200vw;
  }

  /* svg positioning required for IE 10/11 scaling */

  &__inner {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 95.78246393%; /* aspect ratio of squircle - (1726 / 1802) */
  }

  &__svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    left: 0;
  }
}

// .ds-hero__squircle  {
//   position: absolute;
//   bottom: 0;
//   left: 50%;
//   width: 280%;
//   transform: translateX(-50%);
//   margin-left: -10%;
//   z-index: -1;
//   fill: #F3F9FD;

//   @media (--mq-medium) {
//     left: auto;
//     right: 0;
//     transform: none;
//     width: 150%;
//   }

//   @media (--mq-large) {
//     right: 0;
//     width: 160%;
//   }

//   @media (--mq-xlarge) {
//     width: 145%;
//   }

//   @media (--mq-xxlarge) {
//     width: 155%;
//   }

//   /* svg positioning required for IE 10/11 scaling */

//   &__inner {
//     position: relative;
//     width: 100%;
//     height: 0;
//     padding-top: 95.78246393%; /* aspect ratio of squircle - (1726 / 1802) */
//   }

//   &__svg {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
// }
