.signpost {
  margin: $quarter-spacing-unit 0 $half-spacing-unit 0;
  padding: 0;
  list-style: none;

  @include media(medium) {
    margin-bottom: 0;
  }
}

.signpost__link,
.card--link {
  position: relative;
  display: block;
  padding: $quarter-spacing-unit 0;
  border-bottom: 2px solid rgba(15,114,152,0.1);
  color: $link;
  font-family: $medium;
  transition: all 0.25s ease;

  .status {
    margin-left: 12px;
  }

  &:hover {
    color: $text;
    border-bottom: 2px solid $link-hover;

    .signpost__icon svg {
      fill: $link-hover;
    }
  }
}

.signpost__icon {
  position: absolute;
  line-height: 1.7;
  right: 0;

  svg {
    fill: rgba(15,114,152,0.2);
  }
}

  


.ds-c-signpost {
  flex-grow: 1;
  display: flex;
  margin-bottom: var(--spacing-medium--1-4);
  background-color: var(--color-white);
  width: 100%;

  @include media(large) {
    margin-bottom: var(--spacing-medium--1-2);
  }

  &__link {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: 100%;
    box-shadow: 0 5px 0 0 rgba(0, 0 ,0 , .05);
    border: 0;
    transition: box-shadow .2s ease-in;
    color: var(--color-text);
    cursor: pointer;

    @include media(medium) {
      flex-direction: column;
    }

    /* IE 10/11 */
    @media all and (-ms-high-contrast: none) {
      display: block;
    }

    &:hover,
    &:focus {
      box-shadow: 0 5px 0 0 rgba(0, 0 ,0 , .15);
    }
  }

  &__status {
    color: var(--color-white);
    text-align: center;
    position: absolute;
    top: -0.75rem;
    right: -0.25rem;
 
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    @include media(medium) {
      top: -1.25rem;
      right: .5rem;
 
    }

    &__label {
      flex: 1;
      display: block;
      position: relative;
      z-index: 2;
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 1rem;

      @include media(medium) {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    &__squircle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      svg {
        width: 100%;
        height: 100%;
        fill: #D3212A;
      }
    }
  }

  &__media {
    margin: 0;
    position: relative;
    height: 5rem;
    flex-basis: 8.875rem;
    width: 8.875rem;

    @media (--mq-medium) {
      height: auto;
      flex-basis: auto;
      width: auto;
    }
  }

  &__image {
    display: block;
    width: auto;
    height: 100%;

    @media (--mq-medium) {
      width: 100%;
      height: auto;
    }

    img {
      display: block;
      width: auto;
      height: 100%;
      border: 0;

      @media (--mq-medium) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__content {
    display: flex;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    min-height: 5rem;
    align-items: center;
    flex: 1;

    @include media(medium) {
      min-height: none;
      padding: 1rem 1.5rem;
    }

    @include media(medium) {
      padding: 1.25rem 2rem;
    }
  }

  &__title {
    flex: 1;
    margin: 0;
    padding: 0 0.5rem 0 0;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.625rem;

    @include media(medium) {
      font-size: 1.375rem;
      line-height: 2rem;
      padding-right: 1rem;
    }

    a:hover &,
    a:focus & {
      text-decoration: underline;
    }
  }

  &__icon {
    display: block;
    flex-basis: 1rem;
    max-width: 1rem;
    transition: transform 0.2s ease-in-out;
    width: 1rem;
    height: 1.8125rem;
    overflow: hidden;

    a:hover &,
    a:focus & {
      transform: translateX(0.25rem);
    }

    &__svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
