/*===============================================
Themes
===============================================*/

// Dark theme
.dm-dark {

  .ds-header {
    background: $woodsmoke;
    margin-bottom: $half-spacing-unit;
  }

  .service-name {
    color: $page;
  }

  .coop-logo {
    svg {
      display: inline-block;
      float: left;

      path {
        fill: $page;
      }
    }
  }
}
