
.ds-section-bg {
    margin-bottom: 32px;
    padding: 32px 0;
    background: var(--color-text); 
}

@media (--mq-large) {
    .ds-section-bg {
        margin-bottom: 64px;
        padding: 64px 0;
    }
}